<p-sidebar [(visible)]="showSidebar" (onShow)="ngOnInit()" [blockScroll]="false" [showCloseIcon]="false" [dismissible]="false" position="right" styleClass="p-sidebar-md" [style]="{'overflow-y': 'unset'}" [baseZIndex]="1000">
    <div class="p-grid" style="height: 30px;">
      <div class="p-col-11" style="margin-top: 5px;">
          <h5>Formación</h5>
      </div>
      <div class="p-col-1">
          <button pButton pRipple type="button" icon="pi pi-times" label="X" class="p-button-rounded p-button-text p-mr-2 p-mb-2 p-ripple p-button p-component p-button-icon-only" (click)="outForm()"></button>
      </div>
    </div>    
    <hr />
  
        <div class="p-col-12">
          <div class="card">
            <div class="p-fluid p-grid p-formgrid">
              
              <div class="p-field p-grid p-col-12" style="display: none;">
                <!-- <input type="number" [(ngModel)]="record.idLaborRelationship">
                <input type="number" [(ngModel)]="record.idLaborRelationshipxGrouping">
                <input type="number" [(ngModel)]="record.idGrouping">
                <input type="number" [(ngModel)]="record.createdByUserId">
                <input type="text" [(ngModel)]="record.updatedByUserId">
                <input binary="true" inputId="binary" [(ngModel)]="record.active"> -->
              </div>
              <div class="p-field p-grid p-col-12">
                <span class="title-span">Datos de la formación</span>
              </div>
              
              <div class="p-field p-grid p-col-12">
                <div class="p-col-12">
                    <label for="active">Tipo<span [ngStyle]="{'color':'red'}">*</span></label>
                    <p-dropdown [options]="trainingTypeDropdown" [(ngModel)]="record.idTrainingType" placeholder="Seleccione..." (onChange)="changeTrainingSelect()"
                    [class]="submitted && record.idTrainingType == -1 ? 'ng-dirty ng-invalid' : ''" (keyup.enter)="submit()"></p-dropdown>
                    <!-- <input type="text" [(ngModel)]="record.groups" pInputText maxlength="70" [class]="submitted && record.groups == '' ? 'ng-dirty ng-invalid' : ''" (keyup.enter)="submit()"/>  -->
                    <small class="p-invalid" *ngIf="submitted && record.idTrainingType == -1">El tipo es requerido</small>
                </div>
              </div>

              <div class="p-field p-grid p-col-12">
                <div class="p-col-12">
                  <label for="active">Descripción<span [ngStyle]="{'color':'red'}">*</span></label>
                  <div class="p-inputgroup">
                    <input type="text" pInputText placeholder="Descripción" *ngIf="showInputTraining" [(ngModel)]="descriptionDropdown" 
                    (input)="dataComplete()" [class]="submitted && descriptionDropdown == '' ? 'ng-dirty ng-invalid' : ''">   
                    <p-dropdown [options]="trainingDropdown" [(ngModel)]="labelDropdown" placeholder="Seleccione..." [filter]="true" *ngIf="!showInputTraining" (onChange)="selectTraining()"
                        [class]="submitted && !labelDropdown ? 'ng-dirty ng-invalid' : ''" (keyup.enter)="submit()" [disabled]="record.idTrainingType == -1">
                    </p-dropdown>
                    <button type="button" pButton pRipple [icon]="showInputTraining ? 'pi pi-minus' : 'pi pi-plus'" styleClass="p-button-danger"
                        (click)="changeDescription()" [disabled]="record.idTrainingType == -1"></button>      
                  </div>
                  
                  <!-- <input pInputText maxlength="70" [class]="submitted && trainingString == '' ? 'ng-dirty ng-invalid' : ''"
                        (keyup.enter)="submit()"  type="text" [(ngModel)]="trainingString" (input)="selectedInput($event)"/>  -->
                  <small class="p-invalid" *ngIf="submitted && (showInputTraining && descriptionDropdown == '' || !showInputTraining && labelDropdown == null)"> La descripción es requerida</small>
                </div>
              </div>
    
              <div class="p-field p-grid p-col-12">
                <div class="p-col-12 p-lg-6 inside">
                  <label for="active">Nomenclatura<span [ngStyle]="{'color':'red'}">*</span></label>
                  <div class="p-col-12 p-p-0">
                    <input type="text" [(ngModel)]="record.naming" pInputText maxlength="7" [disabled]="!showInputTraining"
                    [class]="submitted && record.naming == '' ? 'ng-dirty ng-invalid' : ''" (keyup.enter)="submit()" (input)="dataComplete()"/> 
                    <small class="p-invalid" *ngIf="submitted && record.naming == ''"> La nomenclatura es requerida</small>
                  </div>
                </div>
                <div class="p-col-12 p-lg-6">
                  <label for="active">Objetivo<span *ngIf="record.idTrainingType != -1">{{record.idTrainingType == 1 ? ' (Horas/días)':' (Puntaje/%)'}}</span>
                    <span [ngStyle]="{'color':'red'}">*</span>
                  </label>
                  <div class="p-col-12 p-p-0">
                    <p-inputNumber [(ngModel)]="record.objective" [disabled]="!showInputTraining" [minFractionDigits]="2" [maxFractionDigits]="4" 
                    [maxlength]="6" (ngModelChange)="dataComplete()" [class]="submitted && (record.objective == null || record.objective <= 0) ? 'ng-dirty ng-invalid' : ''"></p-inputNumber>
                    <small class="p-invalid" *ngIf="submitted && (record.objective == null || record.objective <= 0)"> El objetivo es requerido</small>
                  </div>
                </div>
              </div>
              <hr />
              <div class="p-field p-grid p-col-12">
                <span class="title-span">Vinculación al empleado</span>
              </div>
              <div class="p-field p-grid p-col-12">
                <div class="p-col-12">
                  <label for="active">Valor<span *ngIf="record.idTrainingType != -1">{{record.idTrainingType == 1 ? ' (Horas/días)':' (Puntaje/%)'}}</span>
                    <span [ngStyle]="{'color':'red'}" *ngIf="fullData">*</span></label>
                  <p-inputNumber [(ngModel)]="record.assignedValue" [disabled]="!fullData" [minFractionDigits]="2" [maxFractionDigits]="4" (ngModelChange)="assignedValueChange(record.assignedValue)"
                    [maxlength]="6" [class]="submitted && fullData && assignedValueMessage != '' ? 'ng-dirty ng-invalid' : ''"></p-inputNumber>
                  <small class="p-invalid" *ngIf="submitted && fullData && assignedValueMessage != ''">{{assignedValueMessage}}</small>
                </div>
              </div>
              <div class="p-field p-grid p-col-12">
                <div class="p-col-12 p-lg-6 inside">
                  <label for="active">Fecha de inicio<span [ngStyle]="{'color':'red'}" *ngIf="fullData">*</span></label>
                  <div class="p-col-12 p-pl-0 p-pr-0">
                    <p-calendar [(ngModel)]="record.startDateCalendar" dateFormat="dd-mm-yy" inputId="employmentDate" placeholder="" (keyup.enter)="submit()"
                            readonlyInput="true" [showIcon]="true" [monthNavigator]="true" [readonlyInput]="true" yearRange="1900:2200" [maxDate]="maxDateInit" 
                            [class]="submitted && fullData && record.startDateCalendar == null ? 'ng-dirty ng-invalid' : ''"
                            [yearNavigator]="true" life="500" [baseZIndex]="1000000000" [disabled]="!fullData" appendTo="body" >
                        </p-calendar>
                    <small class="p-invalid" *ngIf="submitted && fullData && record.startDateCalendar == null">La fecha de inicio es requerida</small>
                  </div>
                </div>
                <div class="p-col-12 p-lg-6">
                  <label for="active">Fecha fin<span [ngStyle]="{'color':'red'}" *ngIf="fullData">*</span></label>
                  <div class="p-col-12 p-pl-0 p-pr-0">
                    <p-calendar [(ngModel)]="record.endDateCalendar" dateFormat="dd-mm-yy" inputId="employmentDate" placeholder="" (keyup.enter)="submit()"
                            readonlyInput="true" [showIcon]="true" [monthNavigator]="true" [readonlyInput]="true" yearRange="1900:2200" [maxDate]="maxDate" (onSelect)="changeMaxDateInit()"
                            [yearNavigator]="true" life="500" [baseZIndex]="1000000000" [disabled]="!fullData" appendTo="body" [minDate]="record.startDateCalendar" 
                            [class]="submitted && fullData && record.endDateCalendar == null ? 'ng-dirty ng-invalid' : ''">
                        </p-calendar>
                    <small class="p-invalid" *ngIf="submitted && fullData && record.endDateCalendar == null">La fecha fin es requerida</small>
                  </div>
                </div>
              </div>
  
              <div class="p-field p-col-12">
                <span [ngStyle]="{'color':'red'}">(*) Campos obligatorios</span>
              </div>
              <div class="p-field p-grid p-col-12">
                <div class="p-col-12">
                  <button id="Agregar" pButton pRipple label="Agregar" (click)="submit()" icon="pi pi-plus-circle" class="p-button-info p-mr-2"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-sidebar>
    
  
