@media only screen and (max-width: 870px)
{
    .info .value {
        font-size: calc(1em + 1vw)!important;
        
            /* Por debajo de 700px */
    
    }
    .overview-box-1{
        height: auto;
        width: auto;
    
    }
    .leyendtext {
        font-size: calc(0.5em + 0.5vw)!important;
        
            /* Por debajo de 700px */
    
    }
    .contarget {
        width: 100%!important;
        max-height:  calc(1.5em + 5vw)!important;
        padding: 0.1em !important;
        //height: 40px;
        }
    .sintarget{
        width: 100%!important;
        max-height: 20vw!important;
        padding: 0.1em !important;

    }
     
    .box-status-up{
        background-color: #0BD18A;
        color: #FFFFFF;
        border-radius: 6px;
        font-size: calc(0.5em + 0.5vw)!important;
       // height: 32px;
        //width: 70px;
        height:  calc(0.5em + 0.5vw)!important;
        width:  calc(1em + 1vw)!important;
        padding: 0.1em;
        margin-top: 0.3em;
        margin-right: 0px;
      
        //box-shadow: 0px 6px 20px rgb(11, 209, 138 / 30%);
    }
    .box-status-equal{
        background-color: #00D0DE;
        color: #FFFFFF;
        border-radius: 6px;
        font-size: calc(0.5em + 0.5vw)!important;
        height:  calc(0.5em + 0.5vw)!important;
        width:  calc(1em + 1vw)!important;
       
        padding: 0.3em;
        margin-top: 0.5em;
        margin-right: 0px;
        //box-shadow: 0px 6px 20px rgb(0, 208, 222 / 30%);
    }
    .box-status-down{
        background-color: #FC6161;
        color: #FFFFFF;
        border-radius: 6px;
        font-size: calc(0.5em + 0.5vw)!important;
       /*  height: 32px;
        width: 70px; */
         height:  calc(0.5em + 0.5vw)!important;
        width:  calc(0.5em + 0.5vw)!important;
        padding: 0.1em;
        margin-top: 0.3em;
        margin-right: 0px;
        //box-shadow: 0px 6px 20px rgb(252, 97, 97 / 30%);
    }
    .info .subtext {
        font-size: calc(0.5em + 0.5vw)!important;
        color: #4c566a;
    }
    .iconoflecha{
        font-size: 0.5rem!important;

    }
}
.iconoflecha{
    font-size: 1rem;

}
.leyendtext {
    font-size: 1rem;
    
        /* Por debajo de 700px */

}
.info .value {
    font-size: 2rem;
    color: #17a2b8;
}
// .leyendtext {
//     font-size: calc(0.5em + 0.5vw);
    
//         /* Por debajo de 700px */

// }
.info {
    text-align: right;
}


.info .subtext {
    color: #4c566a;
}

.overview-box-1{
    height: 100px;
    width: auto;

}
.overview-footer {
    text-align: right;
    margin-top: -10px;
   
}

.box-status-equal{
    background-color: #00D0DE;
    color: #FFFFFF;
    border-radius: 6px;
    height: 32px;
    width: 70px;
    padding: 0.3em;
    margin-top: 0.5em;
    margin-right: 0px;
    //box-shadow: 0px 6px 20px rgb(0, 208, 222 / 30%);
}


.box-status-up{
    background-color: #0BD18A;
    color: #FFFFFF;
    border-radius: 6px;
    height: 32px;
    width: 70px;
    padding: 0.3em;
    margin-top: 0.5em;
    margin-right: 0px;
    //box-shadow: 0px 6px 20px rgb(11, 209, 138 / 30%);
}

.box-status-down{
    background-color: #FC6161;
    color: #FFFFFF;
    border-radius: 6px;
    height: 32px;
    width: 70px;
    padding: 0.3em;
    margin-top: 0.5em;
    margin-right: 0px;
    //box-shadow: 0px 6px 20px rgb(252, 97, 97 / 30%);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.5rem 0 0.5rem 0;

}

a {
    text-decoration: none;
    color: #95b8f6;
    font-size: 12px;
}

img {
    width: 100%!important;
    height: auto;
    }

    div.container {
        width: 96%;
        max-width: 960px;
        margin: 0 auto;
        }