

:host ::ng-deep {    
    .p-inputnumber .p-calendario {
        width: 100%!important;
    }
}

:host ::ng-deep {    
    .p-ripple .p-padding-top{
        margin-top: 19px!important;
    }
}

:host ::ng-deep {    
    .p-datatable-responsive-demo{
        width: 99%!important;
    }
}

:host ::ng-deep {    
    .p-table{
        width: 100px!important;
    }
}



