<p-card>
    <div class="p-d-flex p-ai-center p-jc-between p-flex-column p-flex-md-row">
        <div class="p-fluid p-col-12 p-md-4 p-lg-4">
            <h4 class="p-card-title" id="filterTitle" >Agrupaciones</h4>
        </div>
        <div class="p-grid">
            <div class="p-col-9">           
            </div>
            <div class="p-col-3 p-d-flex p-jc-end">
                <span class="p-input-icon-left p-ml-md-auto p-mr-md-3 p-mb-3 p-mb-md-0 p-mb-lg-0">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Buscar..." />
                </span>
                <div>
                    <button pButton pRipple icon="pi pi-plus" class="p-button-success boton-crear"  
                    pTooltip="Crear nuevo" tooltipPosition="top" (click)="createNew()" id="add" 
                    *ngIf="this.userPermissions.allowed(this.permissionsIDs.MANAGE_CONCEPT_HCM_PERMISSION_ID)"></button>
                </div>
            </div>
        </div>
    </div>
</p-card>
<div class="card p-m-0" id="tableDiv">
    <p-table #dt [resizableColumns]="true" [resizableColumns]="true" [globalFilterFields]="['abbreviation','product.abbreviation','pool','operationType']" 
    styleClass="p-datatable-responsive-demo p-datatable p-component p-datatable-hoverable-rows" [rowHover]="true"
    [value]="groupingGeneral.clusterDetail" dataKey="id" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th pResizableColumn pSortableColumn="abbreviation">Nomenclatura<p-sortIcon field="abbreviation"></p-sortIcon></th>
                <th pResizableColumn pSortableColumn="pool">Descripción<p-sortIcon field="pool"></p-sortIcon></th>
                <th pResizableColumn pSortableColumn="operationType">Tipo Operación<p-sortIcon field="operationType"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.abbreviation}}</td>
                <td>{{product.pool}}</td>
                <td>
                    <div class="p-formgrid p-grid">
                        <div class=" p-col-2">
                            <p-radioButton id="operationType_1_{{product.id}}" name="operationType" value="+" [(ngModel)]="product.operationType" 
                            [disabled]="!this.userPermissions.allowed(this.permissionsIDs.MANAGE_CONCEPT_HCM_PERMISSION_ID)"></p-radioButton>
                            <label for="category1" style="margin-left: 0.5rem;">+</label>
                        </div>
                        <div class=" p-col-2">
                            <p-radioButton id="operationType_2_{{product.id}}"  name="operationType" value="-" [(ngModel)]="product.operationType" 
                            [disabled]="!this.userPermissions.allowed(this.permissionsIDs.MANAGE_CONCEPT_HCM_PERMISSION_ID)"></p-radioButton>
                            <label for="category2" style="margin-left: 0.5rem;">-</label>
                        </div>
                        <div class=" p-col-8">
                            <p-radioButton id="operationType_3_{{product.id}}"  name="operationType" value="n" [(ngModel)]="product.operationType" 
                            [disabled]="!this.userPermissions.allowed(this.permissionsIDs.MANAGE_CONCEPT_HCM_PERMISSION_ID)"></p-radioButton>
                            <label for="category3" style="margin-left: 0.5rem;">Ninguna</label>
                        </div>
                    </div>                
                </td>
            </tr>
        </ng-template>
    </p-table>

    <div class="p-fliud p-formgrid p-grid p-mt-6">
        <div class="p-field p-col-12 p-md-12" align="right">
            <button id="saving2" pButton pRipple label="Guardar" icon="pi pi-save" class="p-button-info saving"
            *ngIf="this.userPermissions.allowed(this.permissionsIDs.MANAGE_CONCEPT_HCM_PERMISSION_ID)" (click)="saveGrouping()"></button>
        </div>
    </div>
    <app-companies-concepts-grouping-panel *ngIf="showDialog" [(showDialog)]="showDialog" [groupingEdit]="newGrouping" [(groupingxConcept)]="groupingGeneral" (showDialogChange)="resetValue($event)"></app-companies-concepts-grouping-panel>
</div>
