
<h2 class="p-m-0">{{formTitle}}</h2>
<hr/>
<div class="p-grid">
    <div class="p-col-12"> 
        <div class="card">       
            <div class="p-fluid p-grid p-formgrid"  [formGroup]="taxeTypeApplicationForm">
                <div class="p-field p-col-12 p-md-12 p-sm-12">                
                    <label for="input">Nombre <span [ngStyle]="{'color':'red'}">*</span></label>
                        <input pInputText #name sentenceType maxlength="30" (keypress)="_validations.keyPressOnlyLetters($event);" (paste)="_validations.noPaste($event)" 
                        formControlName="name" required 
                        [ngClass]="{'p-invalid':(taxeTypeApplicationForm.controls.name.invalid && (taxeTypeApplicationForm.controls.name.dirty || taxeTypeApplicationForm.controls.name.touched || submitted))}"/>                     
                        <div *ngIf="taxeTypeApplicationForm.controls.name.invalid && (taxeTypeApplicationForm.controls.name.dirty || taxeTypeApplicationForm.controls.name.touched || submitted)"
                        class="p-invalid">
                            <div *ngIf="taxeTypeApplicationForm.controls.name.errors?.required">
                                El nombre es requerido.
                            </div>
                        </div> 
                </div>
                <div class="p-field p-col-12 p-md-12 p-sm-12">
                    <label for="input">Abreviatura</label>
                        <input pInputText #name maxlength="3" onlyUpperCase (keypress)="_validations.keyPressOnlyLetters($event);" (paste)="_validations.noPaste($event)" 
                        formControlName="abbreviation" />
                       
                </div>
                <div class="p-field p-col-12 p-md-12 p-sm-12">
                    <label for="dropdown">Estatus <span [ngStyle]="{'color':'red'}">*</span></label>
                        <p-dropdown [options]="status" appendTo="body" [autoDisplayFirst]="false" [disabled]="!isEdit" formControlName="statusValue"
                        [class]="{'ng-dirty':(taxeTypeApplicationForm.controls.statusValue.invalid && (taxeTypeApplicationForm.controls.statusValue.dirty || taxeTypeApplicationForm.controls.statusValue.touched || submitted))}"  required >                                  
                        </p-dropdown>
                        <div *ngIf="taxeTypeApplicationForm.controls.statusValue.invalid && (taxeTypeApplicationForm.controls.statusValue.dirty || taxeTypeApplicationForm.controls.statusValue.touched || submitted)"
                        class="p-invalid">
                            <div *ngIf="taxeTypeApplicationForm.controls.statusValue.errors?.required">
                                El estatus es requerido.
                            </div>
                        </div>  
                </div>          
            </div>
            <div class="p-fluid p-grid p-formgrid">
                <div class="p-field p-col-12 p-md-12 p-sm-12">
                    <span [ngStyle]="{'color':'red'}">(*) Campos obligatorios</span>
                </div> 
                <div class="p-field p-col-12 p-md-12">
                    <button pButton pRipple icon="pi pi-save" class="p-button-info p-mr-2" (click)="onSave()"label="Guardar"></button>
                </div> 
            </div> 
        </div>
    </div>
    <p-toast position="top-right" key="taxe-type-application"></p-toast>
</div>
