<li #profile class="topbar-item profile-item" [ngClass]="{'active-topmenuitem': app.activeTopbarItem === profile}">
    <a href="#" (click)="app.onTopbarItemClick($event,profile)">
    <span class="profile-image-wrapper">
        <img src="{{userImage}}" alt="mirage-layout" style="border-radius:50%;" />
    </span>
        <span class="profile-info-wrapper">
        <h3>{{userName}}</h3>
        <span></span>
    </span>
    </a>
    <ul class="profile-item-submenu fadeInDown">
        <li class="profile-submenu-header">
            <div class="performance">
            </div>
            <div class="profile">
                <img
                  src="{{userImage}}"
                  alt="mirage-layout"
                  width="40"
                  style="border-radius:50%;"/>
                <h1>{{userName}}</h1>
                <span></span>
            </div>
        </li>
        <li class="layout-submenu-item" (click)="onOpenProfile()">
            <i class="pi pi-user-edit icon icon-1"></i>
            <div class="menu-text">
                <p>Perfil</p>
                <span>Visualizar perfil</span>
            </div>
            <i class="pi pi-angle-right"></i>
        </li>
        <li class="layout-submenu-footer p-d-flex p-jc-between">
                <button class="signout-button" (click)="onLogOut()">Cerrar sesion</button>
                <div class="menu-text">
                    <span>V{{appVersion}}</span>
                </div>
        </li>
    </ul>
</li>