<div class="card widget-support-request widget_panel">
    <div class="card widget_panel">
        <div class="p-grid  p-formgrid p-text-center widget_panel">
            <div class="p-col-12 p-d-flex p-ai-center p-jc-center">

                    <p-knob 
                        [(ngModel)]="currentValue" 
                        [size]="size" 
                        [max]="targetValue" 
                        [readonly]="true" 
                        valueTemplate="{value}%" 
                        valueColor="#b0f2c2" rangeColor="#eceff4">
                </p-knob>
                
                </div>
        </div>
    </div>
</div>