<div class="card">
    <!-- <div class="card-block"> -->
      <div class="row align-items-center justify-content-center">
        <div class="cart-item-product-thumb p-inputgroup">
          <img src="https://broxtechnology.com/images/iconos/box.png" width="35px" alt="Product"
            style="margin-right: 1px;">
          <span class="cart-item-product-title p-mr-2"
            style="font-size: xx-small;">{{product.name}}</span></div>
        <div class="p-grid p-col-12 p-sm-12 p-md-12 p-lg-12">
          <span class="p-col-12 p-sm-12 p-md-12 p-lg-12" style="font-size: xx-small;">{{product.gtin}}</span>
          <span  class="p-col-12 p-sm-12 p-md-12 p-lg-12" style="font-size: xx-small;padding-top: 0rem;">{{product.category}}</span>
       </div> 
    </div>
  </div>