<div class="card p-m-0 p-pb-0">
    <div class="p-d-flex p-ai-center p-jc-between p-flex-column p-flex-md-row">
        <span class="p-input-icon-left p-ml-md-auto p-mr-md-3 p-mb-3 p-mb-md-0 p-mb-lg-0">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
        </span>
        <div>
            <button *ngIf="this.userPermissions.allowed(this.permissionsIDs.UPDATE_CITIES_PERMISSION_ID)" pButton pRipple icon="pi pi-plus" class="p-button-success" (click)="openNew()"></button>
            <button *ngIf="this.userPermissions.allowed(this.permissionsIDs.CHECK_CITIES_PERMISSION_ID)" pButton pRipple icon="pi pi-filter" class="p-ml-2 p-button-help" [ngClass]="{'p-button-danger':showFilters}" (click)="showFilters=!showFilters"></button>
        </div>
    </div>

    <app-city-filters *ngIf="this.userPermissions.allowed(this.permissionsIDs.CHECK_CITIES_PERMISSION_ID)" (onSearch)="search()" [(filters)]="cityFilters" [expanded]="showFilters" [loading]="loading" class="p-mt-3"> </app-city-filters>
</div>
<div class="card p-m-0">
    <p-table #dt [columns]="displayedColumns" [rowHover]="true" [value]="cityList" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
    currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-responsive-demo">      
      <ng-template pTemplate="header" let-columns>
          <tr>
            <ng-container *ngFor="let col of columns">  
                <th [ngStyle]="{'display': col.display}" [pSortableColumn]="col.field" >
                  {{col.header}}
                  <p-sortIcon *ngIf="col.field !== 'edit'" [field]="col.field"></p-sortIcon>
              </th>
            </ng-container>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-city let-columns="columns">
          <tr>
            <ng-container *ngFor="let col of columns">
                <td [ngStyle]="{'display': col.display,'overflow-wrap': 'break-word' }">
                    <app-active-label *ngIf="col.field === 'active'; else textCell" [active]="city[col.field]"></app-active-label>
             
                    <ng-template #textCell >
                        <span *ngIf="col.field !== 'edit'; else editCell">{{col.template(city)}} </span>
                    </ng-template>

                    <ng-template #editCell  >
                        <ng-container  *ngIf="userPermissions.allowed(this.permissionsIDs.UPDATE_CITIES_PERMISSION_ID)">
                            <button   pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="onEdit(city.id)"></button>
                        </ng-container>
                    </ng-template>
                   
                </td>
            </ng-container>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [ngStyle]="{'text-align': 'center'}" [attr.colspan]="columns.length">No existen resultados</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
            </ng-template>
            <ng-template pTemplate="paginatorright">
            </ng-template>
    </p-table>
</div>
<p-sidebar [(visible)]="showDialog" [blockScroll]="true" [showCloseIcon]="true"  [dismissible]="false" position="right"  *ngIf="showDialog" styleClass="p-sidebar-md" [style]="{'overflow': 'scroll'}"> 
    <app-city-detail [(city)]="city" [(cityList)]="cityNotFilteredList" (onHideDialogForm)="childCallBack($event)" ></app-city-detail>
</p-sidebar>