<div class="p-grid p-mt-4 p-align-center vertical-container p-p-3" *ngIf="expanded">

    <div class="p-col-12 p-md-4 p-lg-3">
        <div class="p-inputgroup">
            <span class="p-float-label">
                <input [(ngModel)]="filters.name" name="name" id="name" type="text" pInputText  maxlength="300" (keyup.enter)="search()">
                <label>Nombre del producto</label>
            </span>
        </div>
    </div>
    <div class="p-col-12 p-md-4 p-lg-3">
        <div class="p-inputgroup">
            <span class="p-float-label">
                <input [(ngModel)]="filters.barcode" name="barcode" id="barcode" type="text" (keyup.enter)="search()" pInputText maxlength="130">
                <label>Barra</label>
            </span>
        </div>
    </div>
    <div class="p-col-12 p-md-4 p-lg-3 p-fluid">
        <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Categoría" [(ngModel)]="categoriesString" (keyup.enter)="search()" disabled [ngStyle]="{'border-radius': '4px 0px 0px 4px;'}">
            <p-button icon="pi pi-search" (click)="op.toggle($event)" class="button-radius"></p-button>
        </div>
        <p-overlayPanel #op [showCloseIcon]="false" [style]="{width: '450px'}">
            <p-treeTable #dt [value]="_categoryservice._categoryList" [columns]="cols" selectionMode="checkbox" [style]="{'height': '300px', 'overflow-y': 'scroll'}" [(selection)]="selectedCategories">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex">
                        <span class="p-input-icon-left p-ml-md-auto p-mr-md-3 p-mb-3 p-mb-md-0 p-mb-lg-0">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    
                    <tr>
                        <th *ngFor="let col of columns" [ngStyle]="{'overflow-wrap': 'break-word', 'width': '100%' }">
                            {{col.header}}
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns; let i = index" [ngStyle]="{'overflow-wrap': 'break-word', 'width': '100%' }">
                            <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                            <p-treeTableCheckbox #something [value]="rowNode" (click)="ValidateCheckeds(something,rowData)"></p-treeTableCheckbox>
                            <ng-template #textCell>
                                {{rowData[col.field]}}
                            </ng-template>
                            <app-active-label *ngIf="col.field === 'active'; else textCell" [active]="rowData[col.field]"></app-active-label>
                        </td>
                    </tr>
                </ng-template>
            </p-treeTable>
        </p-overlayPanel>
    </div>
    <div class="p-col-12 p-md-4 p-lg-3">
        <div class="p-inputgroup">
            <span class="p-float-label">
                <input [(ngModel)]="filters.internalRef" name="internalRef" id="internalRef" type="text" pInputText (keyup.enter)="search()" maxlength="100">
                <label>Referencia interna</label>
            </span>
        </div>
    </div>
    <div class="p-col-12 p-md-4 p-lg-3 p-fluid">
        <p-dropdown [options]="producttypelist" appendTo="body" [(ngModel)]="filters.productTypeId" (keyup.enter)="search()"  placeholder="Tipo de producto" emptyFilterMessage="Sin resultados." emptyMessage="Sin resultados.">
        </p-dropdown>
       
    </div>
    
    <div class="p-col-12 p-md-4 p-lg-3 p-fluid">
        <p-dropdown [options]="statuscreationlist" appendTo="body" [(ngModel)]="filters.statusId" (keyup.enter)="search()" placeholder="Estatus de creación" emptyFilterMessage="Sin resultados." emptyMessage="Sin resultados.">
        </p-dropdown>
    </div>
    <div class="p-col-12 p-md-4 p-lg-3 p-fluid">
        <p-dropdown [options]="structuretypelist" appendTo="body" [(ngModel)]="filters.structureTypeId" (keyup.enter)="search()" placeholder="Tipo de estructura" emptyFilterMessage="Sin resultados." emptyMessage="Sin resultados.">
        </p-dropdown>
    </div>
    <div class="p-col-12 p-md-4 p-lg-3 p-fluid">
        <p-dropdown [options]="origintypelist" appendTo="body" [(ngModel)]="filters.originTypeId" (keyup.enter)="search()" placeholder="Tipo de origen" [filter]="true" emptyFilterMessage="Sin resultados." emptyMessage="Sin resultados.">
        </p-dropdown>
    </div>
    <div class="p-col-12 p-md-4 p-lg-3 p-fluid">
        <p-dropdown [options]="classificationlist" appendTo="body" [(ngModel)]="filters.classificationId" (keyup.enter)="search()" placeholder="Clasificación" [filter]="true" emptyFilterMessage="Sin resultados." emptyMessage="Sin resultados.">
        </p-dropdown>
    </div>
    <div class="p-col-12 p-md-4 p-lg-3 p-fluid">
        <p-multiSelect [options]="brandslist" [(ngModel)]="brandsselected" placeholder="Marca" (onChange)="ValidateChecksBrands()" [virtualScroll]="true" itemSize="30" display="chip" [selectionLimit]="5" (keyup.enter)="search()" [filter]="true" emptyFilterMessage="Sin resultados." emptyMessage="Sin resultados."></p-multiSelect>
        <!-- <p-dropdown [options]="brandslist" appendTo="body" [(ngModel)]="filters.classificationId" placeholder="Marca">
        </p-dropdown> -->
    </div>
    <div class="p-col-12 p-md-4 p-lg-3 p-fluid">
        <p-dropdown [options]="heavylist" appendTo="body" [(ngModel)]="filters.indHeavy" placeholder="Indicador de peso" (keyup.enter)="search()">
        </p-dropdown>
        
    </div>
    
    <!-- <div class="p-col-12 p-md-4 p-lg-3 p-fluid">
        <div class="p-grid">
        <div class="p-col-5 p-md-5 p-lg-5 p-fluid">
            <p-checkbox name="indexpiration" [binary]="false" (keyup.enter)="search()">
            </p-checkbox>
            <label style="margin-left:3ex;" for="indexpiration">Vencimiento</label>
        </div>
        <div class="p-col-6 p-md-6 p-lg-6 p-fluid">
            <p-checkbox name="indwithinvetory" [binary]="false" (keyup.enter)="search()">
            </p-checkbox>
            <label style="margin-left:3ex;" for="indwithinvetory">Con inventario</label>
        </div>
    </div>
    </div> -->
    <div class="p-col-12 p-md-9 p-lg-9">
        <span style="color: red;">Debe seleccionar al menos 1 filtro para la búsqueda.</span>
    </div>
    <div class="p-col-12 p-md-3 p-lg-3 p-jc-end">
        <div class="p-grid">
            <div class="p-col-12 p-md-4 p-lg-4 p-fluid">
                <button pButton pRipple label="Buscar" [disabled]="loading" (click)="search()" icon="pi pi-search" class="p-button-info p-mr-2"></button>
            </div>
            <div class="p-col-12 p-md-4 p-lg-4 p-fluid">
                <button pButton pRipple label="Limpiar" [disabled]="loading" (click)="clearFilters()" icon="pi pi-ban" class="p-button-secondary p-mr-2"></button>
            </div>
            <div class="p-col-12 p-md-4 p-lg-4 p-fluid">
                <p-splitButton label="Exportar" icon="pi pi-file-o" [model]="items" class="p-button-info"></p-splitButton>
            </div>
        </div>
    </div>
</div>