<p-sidebar [(visible)]="showDialog" (onShow)="ngOnInit()" (onHide)="hideDialog()" [blockScroll]="false" [showCloseIcon]="true"  header="Tipo de encarte" [dismissible]="false" position="right"   styleClass="p-sidebar-md" [style]="{'overflow': 'scroll'}">
    <!-- <app-role-detail [(roleSelected)]="roleSelected"  (onHideEditForm)="childCallBack($event)" ></app-role-detail> -->
    <h5 class="p-m-0">Tipo de encarte</h5>
    <hr/>
   <div class="p-fluid p-grid p-formgrid">
     <div class="p-field p-col-12 ">
       <label for="name">Nombre</label>&nbsp;<span [ngStyle]="{'color':'red'}">*</span>
       <input type="text" pInputText id="name" (keyup.enter)="saveinsertType()" [(ngModel)]="_insertType.name"  (keypress)="_validations.keyPressOnlyLetters($event);"  maxlength="100" (paste)="_validations.noPaste($event)" (input)="_validations.toCapitalizeSimbology($event)" [class]="submitted && (!_insertType.name || !_insertType.name.trim()) ? 'ng-dirty ng-invalid' : ''"/>
       <small class="p-invalid" *ngIf="submitted && !_insertType.name"> El nombre es requerido</small>
     </div>
  

     <div class="p-field p-col-12 ">
       <label for="active">Estatus</label>
       <p-dropdown [options]="status" appendTo="body" [(ngModel)]="_insertType.active" placeholder="Estatus" [disabled]="_insertType.id<=0">
 
       </p-dropdown>
     </div>
     <div class="p-field p-col-12 ">
       <span [ngStyle]="{'color':'red'}">(*) Campos obligatorios</span>
   </div>
   <div class="p-field p-col-12 p-md-12">   
     <button pButton pRipple label="Guardar" (click)="saveinsertType()" icon="pi pi-save" class="p-button-info p-mr-2"></button>
  </div>
 </div>
 
     <!-- <button pButton pRipple label="Cancelar" (click)="hideDialog()" icon="pi pi-times" class="p-button-secondary"></button> -->
    
  
 </p-sidebar>
 <p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>