<div class="p-grid">
    <div class="p-fluid p-col-6 p-md-3 p-lg-3">
        <div class="p-grid">
            <div class="p-fluid  p-col-12 p-md-12 p-lg-12">
                <label for="name">Compra activa</label>
            </div>
            <div class="p-fluid  p-col-12 p-md-12 p-lg-12">
                <p-inputSwitch [(ngModel)]="packingBranchOffice.indActiveBuy"></p-inputSwitch>
            </div>
        </div>
    </div>
    <div class="p-fluid p-col-6 p-md-3 p-lg-3">
        <div class="p-grid">
            <div class="p-fluid  p-col-12 p-md-12 p-lg-12">
                <label for="name">Venta activa</label>
            </div>
            <div class="p-fluid  p-col-12 p-md-12 p-lg-12">
                <p-inputSwitch [(ngModel)]="packingBranchOffice.indActiveSale"></p-inputSwitch>
            </div>
        </div>
    </div>
    <div class="p-fluid p-col-6 p-md-3 p-lg-3">
        <div class="p-grid">
            <div class="p-fluid  p-col-12 p-md-12 p-lg-12">
                <label for="name">Producto a consignación</label>
            </div>
            <div class="p-fluid  p-col-12 p-md-12 p-lg-12">
                <p-inputSwitch [(ngModel)]="packingBranchOffice.indConsignment"></p-inputSwitch>
            </div>
        </div>
    </div>
    <div class="p-fluid p-col-6 p-md-3 p-lg-3">
        <div class="p-grid">
            <div class="p-fluid  p-col-12 p-md-12 p-lg-12">
                <label for="name">Venta online</label>
            </div>
            <div class="p-fluid  p-col-12 p-md-12 p-lg-12">
                <p-inputSwitch [(ngModel)]="packingBranchOffice.indOnline"></p-inputSwitch>
            </div>
        </div>
    </div>
    <div class="p-fluid p-col-6 p-md-3 p-lg-3">
        <div class="p-grid">
            <div class="p-fluid  p-col-12 p-md-12 p-lg-12">
                <label for="name">IVA</label>
            </div>
            <div class="p-fluid  p-col-12 p-md-12 p-lg-12">
                <p-inputSwitch [(ngModel)]="packingBranchOffice.indIVA"></p-inputSwitch>
            </div>
        </div>
    </div>
    <div class="p-fluid p-col-6 p-md-3 p-lg-3">
        <div class="p-grid">
            <div class="p-fluid  p-col-12 p-md-12 p-lg-12">
                <label for="name">Anaquel</label>
            </div>
            <div class="p-fluid  p-col-12 p-md-12 p-lg-12">
                <p-inputSwitch [(ngModel)]="packingBranchOffice.indShelf"></p-inputSwitch>
            </div>
        </div>
    </div>
    <div class="p-fluid p-col-6 p-md-3 p-lg-3">
        <div class="p-grid">
            <div class="p-fluid  p-col-12 p-md-12 p-lg-12">
                <label for="name">Torre</label>
            </div>
            <div class="p-fluid  p-col-12 p-md-12 p-lg-12">
                <p-inputSwitch [(ngModel)]="packingBranchOffice.indTower"></p-inputSwitch>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-md-12 p-lg-12" style="text-align: right;">
        <button pButton pRipple label="Guardar" (click)="saveIndicators()" icon="pi pi-save" class="p-button-info p-mr-2"></button>
    </div>
   <!--  <div class="p-fluid p-col-3 p-md-3 p-lg-3">
        <label for="name">Estatus</label>
        <p-dropdown [options]="statusList" appendTo="body" [disabled]="this.packingBranchOffice.idProduct <= 0" [(ngModel)]="packingBranchOffice.idStatus">
        </p-dropdown>
    </div> -->
</div>
