
<!-- <app-supplier-filter (onSearchprov)="searchprove()" [(filters)]="supplierFilters" [load]="loading" class="p-mt-3"></app-supplier-filter> -->
<!-- FILTRO DE PROVEEDORES -->
<div class="p-grid p-mt-4 p-align-center vertical-container p-p-3">
    <div class="p-col-12 p-md-4 p-lg-3 p-fluid">
        <label>Tipo de deducible <span [ngStyle]="{'color':'red'}">*</span></label>
        <!-- [options]="classificationlist" appendTo="body" [(ngModel)]="supplierFilters.classificationId" -->
        <p-dropdown (keyup.enter)="AddDeductible()" [options]="typeTaxableList" appendTo="body" [(ngModel)]="deductibles.idTaxableType"  placeholder="Seleccione..."  (onChange)="ResetForm()" emptyFilterMessage="Sin resultados."
            emptyMessage="Sin resultados.">
        </p-dropdown>
        <small class="p-invalid"
        *ngIf="submitted && (deductibles.idTaxableType==-1)">Tipo de deducible es requerido.</small>
    </div>
    <div class="p-col-12 p-md-4 p-lg-3 p-fluid">
        <label>Descripción<span [ngStyle]="{'color':'red'}">*</span></label>
           <!--  [class]="submitted && deductibles.taxableDeductibleBase.trim() == '' ? 'ng-dirty ng-invalid' :''" pInputText id="name"
            [options]="countryList" appendTo="body" [(ngModel)]="supplierFilters.idCountry"   -->
        <input type="text" pInputText id="tex" (keyup.enter)="AddDeductible()" [(ngModel)]="deductibles.taxableDeductibleBase"
            (input)="_validations.toCapitalizeString($event)" (keypress)="_validations.keyPressForValor($event);"
            maxlength="50" (paste)="_validations.noPaste($event)" />
            <small class="p-invalid"
            *ngIf="submitted && (deductibles.taxableDeductibleBase=='')">La descripción es requerida.</small>
    </div>
    <div class="p-col-12 p-md-4 p-lg-3 p-fluid">
        <label>Tipo de valor<span [ngStyle]="{'color':'red'}">*</span></label>
        <!-- [options]="classificationlist" appendTo="body" [(ngModel)]="supplierFilters.classificationId" -->
        <p-dropdown (keyup.enter)="AddDeductible()" [options]="typeDiscountList" [(ngModel)]="deductibles.idDiscountRate" placeholder="Seleccione..." [filter]="true"
            emptyFilterMessage="Sin resultados." emptyMessage="Sin resultados." (onChange)="resetRate(deductibles.idDiscountRate)">
        </p-dropdown>
        <small class="p-invalid"
        *ngIf="submitted && (deductibles.idDiscountRate==-1)">Tipo de valor es requerido.</small>
    </div>
    <!-- <div class="p-col-12 p-md-4 p-lg-3 p-fluid">
        <label>Descuento(%)</label>
        [options]="classificationlist" appendTo="body" [(ngModel)]="supplierFilters.classificationId" 
        <p-inputNumber mode="decimal" [minFractionDigits]="0" (keyup.enter)="save()" [(ngModel)]="deductibles.amount"
            [class]="submitted && (!deductibles.amount || deductibles.amount>0) ? 'ng-dirty ng-invalid' : ''"
            (keypress)="_validations.keyPressOnlyNumbersNegativeandPositive($event);"
            (paste)="_validations.noPaste($event)"></p-inputNumber>
    </div> -->
    <div class="p-col-12 p-md-4 p-lg-3 p-fluid" *ngIf="this.deductibles.idDiscountRate==1">
        <label>Tasa <span [ngStyle]="{'color':'red'}">*</span></label>
        <!-- [options]="classificationlist" prefix="%" appendTo="body" [(ngModel)]="supplierFilters.classificationId" -->
        <p-inputNumber (onFocus)="clearinput($event)" (focusout)="reset($event)" mode="decimal" [minFractionDigits]="2"  [max]="100" maxlength="6" (keyup.enter)="AddDeductible()" [(ngModel)]="deductibles.rate"></p-inputNumber>
        <small class="p-invalid"
        *ngIf="submitted && (deductibles.rate==0)">La tasa es requerida.</small>
    </div>
    <div class="p-col-12 p-md-4 p-lg-3 p-fluid" *ngIf="this.deductibles.idDiscountRate==2">
        <label>Monto <span [ngStyle]="{'color':'red'}">*</span></label>
        <!-- [options]="classificationlist" appendTo="body" [(ngModel)]="supplierFilters.classificationId" -->
        <p-inputNumber (onFocus)="clearinput($event)" mode="decimal" [minFractionDigits]="4"
        [maxFractionDigits]="4" maxlength="23" (focusout)="reset($event)" [(ngModel)]="deductibles.amount" (keyup.enter)="AddDeductible()"></p-inputNumber>
        <small class="p-invalid"
        *ngIf="submitted && (deductibles.amount==0)">El monto es requerido.</small>
    </div>
    <div class="p-col-12 p-md-4 p-lg-3 p-fluid" *ngIf="this.ProductOrder == undefined" >
        <label>Distribución<span [ngStyle]="{'color':'red'}">*</span></label>
        <!-- [options]="classificationlist" appendTo="body" [(ngModel)]="supplierFilters.classificationId" -->
        <p-dropdown (keyup.enter)="AddDeductible()" [options]="DistributionCostList" [(ngModel)]="deductibles.distributionCalculationId" (onChange)="chanAply()" placeholder="Seleccione..." 
            emptyFilterMessage="Sin resultados." emptyMessage="Sin resultados.">
        </p-dropdown>
        <small class="p-invalid"
        *ngIf="submitted && (deductibles.distributionCalculationId==0)">Distribución es requerida.</small>
    </div>
    <div class="p-col-12 p-md-4 p-lg-3 p-fluid">
        <label>Aplica a<span [ngStyle]="{'color':'red'}">*</span></label>
        <!-- [options]="classificationlist" appendTo="body" [(ngModel)]="supplierFilters.classificationId" -->
        <p-dropdown (keyup.enter)="AddDeductible()" [options]="ApplyCostList" appendTo="body" [(ngModel)]="deductibles.idApply"  placeholder="Seleccione..." emptyFilterMessage="Sin resultados."
            emptyMessage="Sin resultados.">
        </p-dropdown>
        <small class="p-invalid"
        *ngIf="submitted && (deductibles.idApply==0)">Aplica a es requerido.</small>
    </div>
    
    <div class="p-col-12 p-md-3 p-lg-12 p-d-flex p-jc-end">
        <button pButton pRipple label="Agregar" (click)="AddDeductible()" icon="pi pi-plus-circle" class="p-button-secondary p-mr-2"></button>
    </div>
</div>
<div class="p-col-6 p-md-6 p-lg-6">
    <small class="p-invalid">(*) Campos obligatorios</small>
</div>

<div class="card p-grid p-col-12 p-md-12 p-sm-12 p-lg-12 p-m-0 p-pb-0 p-jc-end">
    <div class="p-d-flex p-ai-center p-jc-between p-flex-column p-flex-md-row">
      <span class="p-input-icon-left p-ml-auto p-mr-2">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="Buscar" />
      </span>
     
    </div>
  </div>
<div class="card p-m-0">
    <p-table #dt [columns]="displayedColumns" [rowHover]="true" [value]="deductiblesfijo" [(selection)]="selectedDeductible"
        [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} registros"
        [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-responsive-demo">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    <!-- <p-tableRadioButton *ngIf="!this.multiple"></p-tableRadioButton> -->
                </th>
                <ng-container *ngFor="let col of columns">

                    <th [ngStyle]="{'display': col.display }" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </ng-container>
                <th [ngStyle]="{'width': '130px'}"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-taxable let-columns="columns">
            <tr>
                <td>
                    <p-tableCheckbox [value]="taxable"></p-tableCheckbox>
                </td>
                <ng-container *ngFor="let col of columns">
                    <td [ngStyle]="{'display': col.display,'overflow-wrap': 'break-word' }">
                        <app-active-label *ngIf="col.field === 'active'; else textCell" [active]="taxable[col.field]">
                        </app-active-label>
                        <ng-template #textCell>
                            <span>{{col.template(taxable)}} </span>
                        </ng-template>
                    </td>
                </ng-container>
                <td>
                    <!-- (click)="onRemoveSpecification(specification.id)" *ngIf="this.userPermissions.allowed(this.permissionsIDs.DELETE_SPECIFICATION_PRODUCT_SECTION_PERMISSION_ID) -->
                    <button pButton pRipple icon="pi pi-trash" (click)="onRemove(taxable.idTemp)" *ngIf="taxable.idTemp>0" class="p-button-rounded p-button-danger p-mr-2"
                        pTooltip="Eliminar"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
        </ng-template>
        <ng-template pTemplate="paginatorright">
        </ng-template>
    </p-table>
</div>
<div class="p-col-12 p-md-8 p-lg-12 p-d-flex p-jc-end">
    <button pButton pRipple label="Aplicar" (click)="save()" [disabled]="load" icon="pi pi-check-square" class="p-button-info p-mr-2"></button>
    <!-- <button pButton (click)="hideDialog()" pRipple label="Cerrar" icon="pi pi-times" class="p-button-secondary p-mr-2"></button> -->
</div>