p-inputnumber.ng-dirty.ng-invalid .p-inputtext , 
p-inputnumber.ng-touched.ng-invalid .p-inputtext {
    border: 1px solid red !important;
    background: rgba(255, 0, 0, 0.35);
    box-shadow: 0 0 5px 1px rgba(255, 0, 0, 0.2) inset !important;
}