<div class="login-body" [ngClass]="{'layout-dark': dark, 'layout-light': !dark}">
  <div class="login-content">
  <div class="night-switch">
    <p-button styleClass="dark-switch"  icon="pi pi-circle-on" (click)="dark = true"></p-button>
    <p-button styleClass="light-switch"  icon="pi pi-circle-off" (click)="dark = false"></p-button>
  </div>
  <div class="login-panel">
    <div class="login-panel-content">
        <div class="logo">
            <img src="assets/layout/images/logo-mirage@2x.png" alt="mirage-layout" />
        </div>
          <h1>ERP</h1>
          <p>  Recuperación de contraseña   </p>
          <div class="forms">
            <!--Email and recover type form-->
          <form [formGroup]="generateOTPForm" (ngSubmit)="onGenerateOTPCode()" *ngIf="!otpSended">
            <div class="login-input-wrapper">
                <label for="username">Correo electrónico</label>
                <input pInputText id="mainEmail" #mainEmail  type="email" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" placeholder="Usuario" formControlName="username" />

                <i class="pi pi-user"></i>
            </div>
             <div class="p-field-radiobutton">
              <p-radioButton name="receiveByEmail"  formControlName="receiveByEmail" [(ngModel)]="receiveByEmail" value="false"></p-radioButton>

              <label>Recibir código vía SMS</label>
            </div>
            <div class="p-field-radiobutton">
              <p-radioButton name="receiveByEmail" formControlName="receiveByEmail" [(ngModel)]="receiveByEmail" value="true" ></p-radioButton>
              <label>Recibir código vía email</label>
            </div>

            <button pButton type="button" (click)="onBack()" label="Volver" style="margin-right: 8px;" ></button>
            <button pButton type="button" [disabled]="!generateOTPForm.valid" type="submit" label="Enviar código"></button>
          </form>

          <!--Validate OPT form-->
          <form [formGroup]="validateOtpForm" (ngSubmit)="onValidateOTPCode()" *ngIf="otpSended">
            Introduzca el código que recibió:
            <div class="login-input-wrapper">
              <label>
                <input pInputText type="text" maxlength="6" formControlName="otpCode" placeholder="Código" required>
              </label>
            </div>

            <div class="login-input-wrappert" [hidden]="true">
              <label>
                <input pInputText type="text" formControlName="idUser" placeholder="id">
              </label>
            </div>
             <div class="buttons">
                <button pButton type="button" [disabled]="!validateOtpForm.valid" type="submit" label="Validar código"></button>
            </div>
          </form>
        </div>
    </div>
  </div>
  <div class="desert"></div>
  </div>
  <p-toast position="top-right"></p-toast>
</div>
