<div class="p-grid">
    <div class="p-col-12 p-lg-12">
        <p-accordion>
            <p-accordionTab *ngFor="let branchOffice of availableCompaniesBranchOfficeApp" (click)="searchInventoryBranchOffice(branchOffice.idBranchOffice)">
                <ng-template pTemplate="header">
                    <div class="p-grid" style="width: 100%; margin-right: 0px; margin-left: 0px; margin-top: 0px;">
        
                        <div class="p-md-5">
                            <label>{{branchOffice.branchOffice}}</label>
                            <!-- <span>{{branchOffice.branchOffice}}</span> -->
                        </div>
                    </div>
                </ng-template>
                <div class="p-grid">
                    <div class="p-col-12 p-mt-3 p-md-12 p-lg-12">
                            <div class="p-grid p-d-flex p-ai-center p-jc-between p-flex-column p-flex-md-row">
                                <div class="p-col-12 p-md-12 p-lg-12 p-fluid p-mt-2">
                                    <p-table #dtDc [columns]="displayedColumnsInventory" [value]="inventoryList" [rowHover]="true" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
                                    currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-responsive-demo">      
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <ng-container *ngFor="let col of columns">  
                                                <th [ngStyle]="{'display': col.display }" [pSortableColumn]="col.field" >
                                                {{col.header}}
                                                <p-sortIcon [field]="col.field"></p-sortIcon>
                                            </th>
                                            </ng-container>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-validationFactor let-columns="columns">
                                        <tr>
                                            <ng-container *ngFor="let col of columns">
                                                <td [ngStyle]="{'display': col.display,'overflow-wrap': 'break-word'}">
                                                    <app-active-label *ngIf="col.field === 'active'; else textCell" [active]="validationFactor[col.field]"></app-active-label>
                                                    <ng-template #textCell>
                                                        <span>{{col.template(validationFactor)}} </span>
                                                    </ng-template>
                                                </td>
                                            </ng-container>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="footer" let-validationFactor>
                                        <tr>
                                            <td colspan="3">Totales</td>
                                            <td>{{totalsuminventory | number: '.3'}}</td>
                                            <td>{{totalsuminventoryblocked | number: '.3'}}</td>
                                            <td>{{totalsuminventorytransit | number: '.3'}}</td>
                                            <td>{{totalsuminventoryreserved | number: '.3'}}</td>
                                            <td>{{totalsuminventorytotal | number: '.3'}}</td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="paginatorleft">
                                            </ng-template>
                                            <ng-template pTemplate="paginatorright">
                                            </ng-template>
                                    </p-table>
                                    
                                </div>
                            </div>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>