<div style="margin-bottom: 1rem">
    <button pButton type="button" label="Expandir todos" (click)="toggleExpanded(true)" style="margin-right: .5rem"></button>
    <button pButton type="button" label="Contraer todos" (click)="toggleExpanded(false)"></button>
</div>

<p-treeTable [value]="_nodeListTemp" [columns]="cols"  styleClass="p-treetable-sm" [autoLayout]="true">
    <ng-template pTemplate="caption">
        Plan de cuentas resultado.
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [ngStyle]="{'text-align': col.field === 'itemName' ? 'left' : 'center'}">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-node let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
            <td *ngFor="let col of columns; let i = index" [ngStyle]="{'text-align': col.field === 'itemName' ? 'left' : 'center'}">
                <!-- <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                {{col.field === 'level' ? rowData.level+' ('+formatCode(rowData.codeAccountingAccount, separator)+')' : null}}
                {{col.field === 'Longitud' ? rowData.codeAccountingAccount.length : null}}
                {{ col?.template(rowData) }}
                <p-checkbox [(ngModel)]="selectedNodes[rowData.id].applyAux" [binary]="true" inputId="applyAux"
                    *ngIf="col.field === 'applyAux'; else textCell"
                    disabled
                >
                </p-checkbox>
                {{col.field === 'codeAccountingAccount' ? formatCode(rowData.codeAccountingAccount, separator) : null}} -->
                <div [ngStyle]="{'display': col.field === 'itemName' ? 'flex' : ''}">
                  <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                  <div class="" *ngIf="col.field === 'applyAux'; else textCell" style="margin: auto;">
                    <p-checkbox [(ngModel)]="selectedNodes[rowData.id].applyAux" [binary]="true" inputId="applyAux" disabled>
                    </p-checkbox>
                  </div>
                  <p>
                      {{col.field === 'level' ? rowData.level+' ('+formatCode(rowData.codeAccountingAccount, separator)+')' : null}}
                      {{col.field === 'Longitud' ? getCodeLength(rowData.codeAccountingAccount) : null}}
                      {{ col.field === 'codeAccountingAccount' ?  rowData.level+' ('+formatCode(rowData.codeAccountingAccount, separator)+')' : col?.template(rowData)}}
                  </p>
                </div>
            </td>
        </tr>            
    </ng-template>
</p-treeTable>
