<div class="p-grid p-align-center p-mt-4 vertical-container" *ngIf="expanded">
    <div class="p-fluid p-col-12 p-md-4 p-lg-4">
        <label for="dropdown">Cargo</label>
        <p-dropdown  name="jobPosition" [(ngModel)]="jobPositionItem" [options]="jobPositionSelect" optionLabel="label" placeholder="Seleccionar..." [filter]="true" emptyFilterMessage="Sin resultados" emptyMessage="Sin resultados">
        </p-dropdown>
    </div>
    <div class="p-fluid p-col-12 p-md-4 p-lg-4">
        <label for="dropdown">Tipo sueldo</label>
        <p-dropdown  name="salaryType" [(ngModel)]="salaryTypeItem" [options]="salaryTypeSelect"  optionLabel="label" placeholder="Seleccionar..." [filter]="true" emptyFilterMessage="Sin resultados" emptyMessage="Sin resultados">
        </p-dropdown>
    </div>
    <div class="p-fluid p-col-12 p-md-4 p-lg-4">
        <label for="dropdown">Moneda</label>
        <p-dropdown  name="salaryType" [(ngModel)]="coinItem" [options]="coinModelOpction"  optionLabel="label" placeholder="Seleccionar..." [filter]="true" emptyFilterMessage="Sin resultados" emptyMessage="Sin resultados">
        </p-dropdown>
    </div>
    <div class="p-col-12 p-md-offset-5 p-md-7 p-lg-6 p-lg-offset-6 container-button p-pr-0">
        <button pButton pRipple label="Buscar" [disabled]="loading" (click)="search()" icon="pi pi-search" class="p-button-info button-search  p-mr-2"></button>
        <button pButton pRipple label="Limpiar" [disabled]="loading" (click)="clearFilters()" icon="pi pi-ban" class="p-button-secondary button-clear"></button>
    </div>
</div>
