

<!-- <div class="p-grid ">
  <div class="p-col-12" >
      <app-product-catalog-top style="height: 100px;"> </app-product-catalog-top>

  </div>   
 
</div> -->
<div class="card p-m-0 p-pb-0">
  <div class="p-d-flex p-ai-center p-jc-between p-flex-column p-flex-md-row">
    <!-- <h5 class="p-mb-3 p-mb-md-0 p-mb-lg-0">Tipo de partes</h5> -->
    <span class="p-input-icon-left p-ml-md-auto p-mr-md-3 p-mb-3 p-mb-md-0 p-mb-lg-0">
      <i class="pi pi-search"></i>
      <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
        placeholder="Buscar..." />
    </span>
    <div>
      <button pButton pRipple *ngIf="this.userPermissions.allowed(this.permissionsIDs.UPDATE_PRODUCT_PERMISSION_ID)"
        icon="pi pi-plus" class="p-button-success" pTooltip="Crear nuevo" (click)="openNew()"></button>

      <button pButton pRipple icon="pi pi-filter" class="p-ml-2 p-button-help"
        [ngClass]="{'p-button-danger':showFilters}" (click)="showFilters=!showFilters" pTooltip="Filtros"></button>
    </div>
  </div>

  <productcatalog-filter-panel (onSearch)="clickSearchProduct()" [(filters)]="productcatalogFilters"
    [expanded]="showFilters" [(productcataloglist)]="_productcatalogservice._ProductCatalogList" [loading]="loading"
    [(_selectedColumns)]="_selectedColumns" class="p-mt-3"></productcatalog-filter-panel>
</div>
<div class="card p-m-0">
  <p-table #dt [columns]="selectedColumns" [rowHover]="true" [value]="_productcatalogservice._ProductCatalogList"
    [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} registros" [scrollable]="true"
    scrollHeight="750px" [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-responsive-demo">
    <!-- <ng-template pTemplate="caption">
        <div class="p-d-flex">
            <button pButton label="Limpiar" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt)"></button>
        </div>
    </ng-template>       -->
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col style="width:50px">
        <col style="width:150px">
        <col style="width:150px">
        <col style="width:150px">
        <col style="width:150px">
        <col style="width:150px">
        <col style="width:150px">
        <col style="width:150px">
        <col style="width:150px">
        <col style="width:150px">
        <col style="width:150px">
        <col style="width:150px">
        <col style="width:150px">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="caption">
      <p-multiSelect [options]="displayedColumns" [(ngModel)]="selectedColumns" optionLabel="header"
        selectedItemsLabel="{0} columnas seleccionadas" [style]="{minWidth: '200px'}" placeholder="Elija las columnas"
        emptyFilterMessage="Sin resultados." emptyMessage="Sin resultados."></p-multiSelect>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th></th>
        <th style="display: none;" pSortableColumn="Id">Id</th>
        <th></th>
        <ng-container *ngFor="let col of columns">
          <th [ngStyle]="{'display': col.display }" [pSortableColumn]="col.field">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
              <!-- <p-columnFilter type="text" [field]="col.field" display="menu"></p-columnFilter> -->
            </div>
          </th>
        </ng-container>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-columns="columns">
      <tr>
        <td>
          <button pButton pRipple icon="pi pi-pencil"
            *ngIf="this.userPermissions.allowed(this.permissionsIDs.CHECK_PRODUCT_PERMISSION_ID)"
            class="p-button-rounded p-button-success p-mr-2" (click)="onEdit(product.productId)"
            pTooltip="Editar"></button>
          <!-- <button pButton pRipple icon="pi pi-briefcase" class="p-button-rounded p-button-success p-mr-2" pTooltip="Crear SKU"></button>
                <button pButton pRipple icon="pi pi-bookmark" class="p-button-rounded p-button-success p-mr-2" pTooltip="Solicitud de modificación"></button> -->
        </td>
        <td style="display: none;">{{product.productId}}</td>
        <td>
          <div class="container-img" style="margin: auto">
            <img [src]="product.image == null || product.image == ''  ? defeatImage
                     : product.image" [alt]="product.name" class="p-shadow-4 imgcatalog" />
          </div>
        </td>
        <ng-container *ngFor="let col of columns">
          <td [ngStyle]="{'display': col.display,'overflow-wrap': 'break-word' }">
            <app-active-label *ngIf="col.field === 'active'; else textCell" [active]="product[col.field]">
            </app-active-label>
            <ng-template #textCell>
              <span>{{col.template(product)}} </span>
            </ng-template>
          </td>
        </ng-container>

      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
    </ng-template>
    <ng-template pTemplate="paginatorright">
    </ng-template>
  </p-table>
</div>
