<!-- Star Search Employment for BranchOffices -->
<p-panel header="Incidencias individual" [toggleable]="false" styleClass="col-12 p-md-12">
    <div class="card">
        <div class="p-fluid p-formgrid p-grid p-pl-0 p-pr-0">
            <div class="p-field p-col-12 p-md-6 p-lg-4">
                <label for="dropdown">Sucursal</label>
                    <p-dropdown id="TypesVarying"
                    placeholder="Seleccione..." [filter]="true" (onChange)="loadEmployments()" [(ngModel)]="branchOfficeId" [options]="userOffices" emptyFilterMessage="Sin resultados"
                    emptyMessage="Sin resultados">
                    </p-dropdown>      
                <!-- <small class="p-invalid" *ngIf="submitted && salaryAdjustmentJobPositionFilter.idJobPosition == -1 ">Debe completar el campo cargo</small> -->
            </div>
            <div class="p-field p-col-12 p-md-6 p-lg-4">
                <label for="dropdown">Trabajador</label>
                    <p-dropdown id="TypesVarying"
                    placeholder="Seleccione..." [filter]="true" [(ngModel)]="employmentSelect" [options]="employmentList" (onChange)="getDataIncidentsEmployment()" emptyFilterMessage="Sin resultados" life="500"
                    emptyMessage="Sin resultados">
                </p-dropdown>      
                <!-- <small class="p-invalid" *ngIf="submitted && salaryAdjustmentJobPositionFilter.idJobPosition == -1 ">Debe completar el campo cargo</small> -->
            </div>
        </div>
    </div>
</p-panel>
<!-- End Search Employment for BranchOffices -->

<!-- Star Data Employment -->
<!-- <p-panel *ngIf="showDataEmployment" [toggleable]="false" styleClass="col-12 p-md-12"> -->
    <div id="miniCardDatos" *ngIf="showDataEmployment" class="Card"> 
    <div class="p-col-12 p-md-6 p-lg-4"><h6>Información del trabajador</h6></div>  
        <div id="personalFont" class="p-col-12 p-md-9 p-mb-1 ">
            <span>{{dataEmploymentObject.employeeName}}</span>
        </div>
        <div id="personalFontSub" class="p-col-12 p-md-9 p-mb-1">
            <span>{{dataEmploymentObject.jobPosition}}</span>
        </div>
        <div id="personalFontID" class="p-col-12 p-md-9 p-mb-1">
            <span>Código:  {{dataEmploymentObject.employmentCode}} | </span>
            <span>Identidad:   {{dataEmploymentObject.identifier}} - {{dataEmploymentObject.documentNumber}}</span>
        </div>
        <div id="personalFontID" class="p-col-12 p-md-9 p-mb-1">
            <span>Sucursal: {{dataEmploymentObject.branchOffice}}</span>
        </div>
    </div>
<!-- </p-panel> -->
<!-- End Data Employment -->


<!-- Start Form Incedents Single -->
<p-panel *ngIf="showDataEmployment" header="Formulario" [toggleable]="true" styleClass="col-12 p-md-12">
    <div class="card" *ngIf="showDataEmployment">
        <!-- Start Input Group -->
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-3">
                <label>Tipo de nómina<span class="p-invalid">*</span></label>
                <p-dropdown [(ngModel)]="selectPayrollType" [options]="payrollTypelist" (onChange)="loadPayDates()"  placeholder="Seleccionar..." emptyMessage="Sin resultados" 
                [class]="submitted && selectPayrollType == 0 ? 'ng-dirty ng-invalid' : ''" > 
                </p-dropdown>
                <small class="p-invalid" *ngIf="submitted && selectPayrollType == 0 " >Tipo nómina es requerido</small>
            </div>

            <div class="p-field p-col-12 p-md-3">
                <label for="">Calendario<span class="p-invalid">*</span></label>
                <p-dropdown [(ngModel)]="paymentDate" [options]="payDateList" [disabled]="showCalendarPayroll"  placeholder="Seleccionar..." optionLabel="name" [filter]="true" emptyFilterMessage="Sin resultados" 
                emptyMessage="Sin resultados" [class]="submitted && paymentDate == null ? 'ng-dirty ng-invalid' : ''" life="500" >
                </p-dropdown>
                <small class="p-invalid" *ngIf="submitted && paymentDate == null " >Calendario es requerido</small>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="">Incidencias<span class="p-invalid">*</span></label>
                <p-dropdown id="incidentsList" placeholder="Seleccionar..." [(ngModel)]="selectConceptsIncidents" [options]="incidentsList" (onChange)="getDataConceptsIncidents()" [filter]="true" emptyFilterMessage="Sin resultados"
                    emptyMessage="Sin resultados" [class]="submitted && selectConceptsIncidents == null ? 'ng-dirty ng-invalid' : ''" >
                </p-dropdown>
                <small class="p-invalid" *ngIf="submitted && selectConceptsIncidents == null " >Incidencias es requerido</small>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="">Unidad<span class="p-invalid">*</span></label>
                <input id="float-input" disabled="disabled" type="text" pInputText [(ngModel)]="incidentsConceptsObject.unid">
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="">Valor<span [ngStyle]="{'color':'red'}">* </span> </label>
                <p-inputNumber id="valueIncidents" [(ngModel)]="valueIncidents" [min]="0" [max]="1000" [minFractionDigits]="1" [maxFractionDigits]="1" 
                mode="decimal" maxlength="6" [class]="submitted && valueIncidents == null ? 'ng-dirty ng-invalid' : ''" locale="en-US">
                </p-inputNumber>
                <small class="p-invalid" *ngIf="submitted && valueIncidents == null " >Valor es requerido</small>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="">Fecha<span class="p-invalid">*</span></label>
                <p-calendar dateFormat="dd/mm/yy" inputId="basic" placeholder="Seleccionar..."
                    readonlyInput="true" [showIcon]="true" [(ngModel)]="dateIncidents" [maxDate]="maxDate" [monthNavigator]="true" [readonlyInput]="true" yearRange="1900:2200"
                    [yearNavigator]="true" life="500" [baseZIndex]="1000000000" overlay="" appendTo="body" [class]="submitted && dateIncidents == null ? 'ng-dirty ng-invalid' : ''" >
                </p-calendar>
            <small class="p-invalid" *ngIf="submitted && dateIncidents == null " >Fecha es requerido</small>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="">Estatus<span class="p-invalid">*</span></label>
                <p-dropdown placeholder="Seleccionar..." name="statusSelect" [(ngModel)]="statusSelect" [options]="statusOption" [filter]="true" emptyFilterMessage="Sin resultados"
                emptyMessage="Sin resultados" life="500" optionLabel="label" [disabled]="showStatus" >
                </p-dropdown> 
            </div>
            <div class="p-field p-col-12">
                <span [ngStyle]="{'color':'red'}">(*) Campos obligatorios</span>
            </div>  
        </div>
        <!-- End Input Group -->
        <div class="p-col-12 p-pl-0 p-pr-0" align="right">
            <button pButton pRipple label="Ingresar" (click)="enterIncidents()" icon="pi pi-plus" class="p-button-info"></button>
            <!-- <button pButton pRipple label="Editar"  icon="pi pi-pencil"  class="p-button-info p-ml-2"></button>
                <button pButton pRipple label="Elimnar"  icon="pi pi-trash"  class="p-button-danger p-ml-2"></button> -->
        </div>
    </div>
</p-panel>
<!-- End Form Incedents Single -->

<!-- Start List Incedents single -->
<p-panel *ngIf="showDataEmployment" header="Incidencias Registradas" [toggleable]="true" styleClass="col-12 p-md-12">
    <div class="card" *ngIf="showDataEmployment">
        <!-- Star table -->
        <div class="p-text-right p-mb-3">
            <span class="p-input-icon-left p-mr-2">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
            </span>
            <!-- <button *ngIf="this.userPermissions.allowed(this.permissionsIDs.MANAGE_EMPLOYEE_HCM_PERMISSION_ID)" pButton pRipple icon="pi pi-plus p-button-success" tooltipPosition="top" pTooltip="Agregar" class="p-button-success p-mr-2" (click)="add()" [disabled]="disabledSave > 0"></button>
            <button *ngIf="this.userPermissions.allowed(this.permissionsIDs.MANAGE_EMPLOYEE_HCM_PERMISSION_ID)" pButton pRipple icon="pi pi-save p-button-success" tooltipPosition="top" pTooltip="Guardar" class="p-button-info p-mr-2" (click)="save()" [disabled]="disabledSave > 0"></button> -->
          </div>
        <p-table [value]="incidentsModel" styleClass="p-datatable-responsive-demo p-datatable-sm" [rows]="10"
        [rowHover]="true" dataKey="idIncidents" [scrollable]="true" scrollHeight="500px" [globalFilterFields]="['idEmploymentRelationship','concepts','dateIncident','valueIncident','idUnit','payrollType']"
        currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros" [showCurrentPageReport]="true" #dt2 editMode="row">
            <ng-template pTemplate="header">
                <tr>
                    <!-- <th pSortableColumn="idEmploymentRelationship" class="p-text-center">Trabajador<p-sortIcon field="idEmploymentRelationship"></p-sortIcon></th> -->
                    <th pSortableColumn="concepts" class="p-text-center">Concepto <p-sortIcon field="concepts"></p-sortIcon></th>
                    <th pSortableColumn="dateIncident" class="p-text-center">Fecha <p-sortIcon field="dateIncident"></p-sortIcon></th>
                    <th pSortableColumn="valueIncident" class="p-text-center">Valor <p-sortIcon field="valueIncident"></p-sortIcon></th>
                    <th pSortableColumn="payrollType" class="p-text-center">Nómina <p-sortIcon field="payrollType"></p-sortIcon></th>
                    <th style="width:8rem"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-incidentsModel let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="incidentsModel">
                    <!-- <td class="p-text-center">
                        {{incidentsModel.numEmployees}}
                    </td> -->
                    <td class="p-text-center">
                        {{incidentsModel.codConcepts}} - {{incidentsModel.concepts}}
                    </td>
                    <td class="p-text-center">
                        {{incidentsModel.dateIncident == null ? '' : incidentsModel.dateIncident.split('-').reverse().join('/')}}
                    </td>
                    <td class="p-text-center" style="overflow-wrap: break-word">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber id="valueIncidents" [(ngModel)]="incidentsModel.valueIncident" [min]="0" [max]="1000" [minFractionDigits]="1" [maxFractionDigits]="1" 
                                mode="decimal" maxlength="6" locale="en-US">
                                </p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output" >
                               {{incidentsModel.valueIncident}}({{incidentsModel.unit}})
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="p-text-center">
                        {{incidentsModel.idUnit}}
                    </td>
                    <td class="p-text-center">
                        {{incidentsModel.abbreviation}}-{{incidentsModel.idCalendar}}
                    </td>
                    <td style="text-align:center" style="width:8rem">
                        <button *ngIf="!editing && incidentsModel.idStatus == 100" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" pTooltip="Editar" class="p-button-rounded p-button-success p-mr-2" (click)="onRowEditInit(incidentsModel)" tooltipPosition="top" placeholder="Top"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" pTooltip="Guardar" class="p-button-rounded p-button-success p-button-text p-mr-2" (click)="onRowEditSave(incidentsModel,ri)" tooltipPosition="top" placeholder="Top"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" pTooltip="Cancelar" class="p-button-rounded p-button-danger p-button-text" (click)="onRowEditCancel(incidentsModel, ri)" tooltipPosition="top" placeholder="Top"></button>
                        <button *ngIf="!editing && incidentsModel.idStatus == 100" pButton pRipple type="button" icon="pi pi-trash" pTooltip="Eliminar" class="p-button-rounded p-button-danger" (click)="deleteIncidents(ri)" tooltipPosition="top" placeholder="Top"></button>
                        <!-- <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(recordList)" pTooltip="Guardar" class="p-button-rounded p-button-success p-mr-2" tooltipPosition="top" placeholder="Top"></button> -->
                        <!-- <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(recordList, ri)" pTooltip="Regresar" class="p-button-rounded p-button-danger" tooltipPosition="top" placeholder="Top"></button> -->
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer" let-columns>
                <ng-container>
                  <tr *ngIf="incidentsModel && incidentsModel.length == 0 && showMenssage" >
                    <td [ngStyle]="{'text-align': 'center'}" [attr.colspan]="columns.length+1">
                      <p-message severity="info"  text="No existen incidencias registradas para este el empleado" styleClass="p-col-12 p-mr-2"></p-message>
                    </td>
                  </tr>
                </ng-container>
            </ng-template>
        </p-table>
        <!-- End Table -->
        <div class="p-col-12 p-pl-0 p-pr-0" align="right">
            <button  pButton pRipple label="Guardar" (click)="save()" icon="pi pi-save" class="p-button-success"></button>
        </div>
    </div>
</p-panel>
<!-- End List Incedents single -->