<div class="p-grid p-align-center p-mt-4 vertical-container" *ngIf="expanded">
    <div class="p-fluid p-col-12 p-md-4 p-lg-4">
        <label for="">Clase</label>
        <p-dropdown [(ngModel)]="filters.idClassPayroll" [options]="payrollClasses" id="TypesVarying"
            placeholder="Seleccione..." [filter]="true" emptyFilterMessage="Sin resultados"
            emptyMessage="Sin resultados"  >
        </p-dropdown>
    </div>
    <div class="p-fluid p-col-12 p-md-4 p-lg-4">
        <label for="dateformat">Ingreso</label>
        <p-calendar #formDateEnd [(ngModel)]="incomeDate" appendTo="body" [baseZIndex]="10000000000" 
        yearRange="1970:2050" dateFormat="dd/mm/yy"
        readonlyInput="true" [showIcon]="true" [monthNavigator]="true"
        [readonlyInput]="true" showButtonBar="true" [yearNavigator]="true"></p-calendar>
    </div>
    <div class="p-fluid p-col-12 p-md-4 p-lg-4">
        <label>Código</label>
        <input [(ngModel)]="filters.numberWorker" id="varying" name="varying" type="text" maxlength="15"
        pInputText  [class]="code ? 'ng-dirty ng-invalid' : ''">
        
    </div>
    <div class="p-fluid p-col-12 p-md-4 p-lg-4">
        <label for="float-input">Nombre</label>
        <input   [(ngModel)]="filters.name" id="description" name="description" type="text" maxlength="30"
                    pInputText  [class]="numDoc ? 'ng-dirty ng-invalid' : ''">
    </div>
    <div class=" p-col-12 p-md-4 p-lg-4  p-md-7  p-lg-offset-4 container-button p-pr-0" style="margin-top: 1rem;">
        <button pButton pRipple label="Buscar" [disabled]="loading" (click)="send()" icon="pi pi-search" class="p-button-info button-search  p-mr-2"></button>
        <button pButton pRipple label="Limpiar" [disabled]="loading" (click)="clearFilters()" icon="pi pi-ban" class="p-button-secondary button-clear"></button>
    </div>
</div>

