<ng-container>
    <div class="menorMargen card">
        <div class="p-fluid p-col-12 p-md-12 p-sm-12 p-lg-12">
                                                                     
            <div class="p-field p-grid p-mt-4">
           
                <!--Dropdown de clientes-->
                <div class="p-field p-col-12 p-md-3 p-lg-3 p-mt-3" >
                    <label>Proveedor <span [ngStyle]="{'color':'red'}">*</span> </label>
                    <div class="p-inputgroup">
                        <input type="text" pInputText pKeyFilter="int" disabled>
                        <button pButton icon="pi pi-times" style="border-radius: 0;"></button>
                        <button pButton icon="pi pi-search"
                            style="border-top-left-radius: 0; border-bottom-left-radius: 0;"
                            ></button>
                    </div>
                </div>

                <!--Modal de seleccion de clientes-->               
                    
                <!--Dropdown de tipo de documento-->
                <div class="p-field p-col-12 p-md-3 p-lg-3 p-mt-3" >
                    <label for="CurrencyShowed">Tipo de Pago <span [ngStyle]="{'color':'red'}">*</span></label>
                    <p-dropdown inputId="CurrencyShowed" [options]="paymentTypes"
                         placeholder="Seleccione..."
                        [resetFilterOnHide]="true" emptyFilterMessage="Sin resultados." emptyMessage="Sin resultados.">
                    </p-dropdown>                    
                </div> 
                
                <div class="p-field p-col-12 p-md-3 p-lg-3 p-mt-3">
                    <label for="applicationDate">Fecha de aplicación <span [ngStyle]="{'color':'red'}">*</span> </label>
                    <p-calendar [showIcon]="true" inputId="applicationDate" 
                        [monthNavigator]="true" [readonlyInput]="true" showButtonBar="true" [yearNavigator]="true"
                        yearRange="1970:2030" dateFormat="dd/mm/yy" >
                    </p-calendar>                    
                </div>

                <div class="p-field p-col-12 p-md-3 p-lg-3 p-mt-3">
                    <label for="applicationDate">Fecha de contabilizacion <span [ngStyle]="{'color':'red'}">*</span> </label>
                    <p-calendar [showIcon]="true" inputId="applicationDate" 
                        [monthNavigator]="true" [readonlyInput]="true" showButtonBar="true" [yearNavigator]="true"
                        yearRange="1970:2030" dateFormat="dd/mm/yy" >
                    </p-calendar>                    
                </div>
            </div> 

            <div class="p-field p-grid p-mt-4">
           
                <!--Dropdown de Documento a aplicar-->
                <div class="p-field p-col-12 p-md-3 p-lg-3 p-mt-3" >
                    <label for="CurrencyShowed">Documento a aplicar <span [ngStyle]="{'color':'red'}">*</span></label>
                    <p-dropdown [filter]="true" inputId="CurrencyShowed" [options]="documents"
                         placeholder="Seleccione... " [resetFilterOnHide]="true"
                        [resetFilterOnHide]="true" emptyFilterMessage="Sin resultados." emptyMessage="Sin resultados.">
                    </p-dropdown>                    
                </div>
                
            
                <!--Dropdown de clientes-->
                <div class="p-field p-col-12 p-md-3 p-lg-3 p-mt-3" >
                    <label for="CurrencyShowed">Moneda <span [ngStyle]="{'color':'red'}">*</span></label>
                    <input id="disabled-input" type="text" pInputText [disabled]="true"  disabled/>               
                </div>  

                <ng-container >
                    <div class="p-field p-col-fixed p-md-2 p-lg-2 p-mt-3" >
                        <label >Monto Total</label>
                        <br>
                        <strong style="font-size:x-large;">$ 100</strong>
                    </div> 
    
                    <div class="p-field p-col-fixed p-md-2 p-lg-2 p-mt-3" >
                        <label >Monto aplicado</label>
                        <br>
                        <strong style="font-size:x-large;">$ 90</strong>
                    </div>
                    <div class="p-field p-col-fixed p-md-2 p-lg-2 p-mt-3" >
                        <label >Monto por aplicar</label>
                        <br>
                        <strong style="font-size:x-large;">$ 10</strong>
                    </div>

                </ng-container>

                <app-payments-application-list></app-payments-application-list>                
                
            </div>

        </div>     

        <div style="justify-content: end; display: flex; flex-wrap: wrap; width: 100%; gap: 0.5rem" class="p-mt-4 ">
            <strong style="font-size:large;">Total a aplicar:</strong>
        </div>
        <div style="justify-content: end; display: flex; flex-wrap: wrap; width: 100%; gap: 0.5rem" class="p-mt-4">
            <strong>$ 600</strong>
        </div>

        <div style="justify-content: end; display: flex; flex-wrap: wrap; width: 100%; gap: 0.5rem" class="p-mt-4">
            <strong>Bs. 20.000.000,00</strong>

        </div>

        <div style="justify-content: end; display: flex; flex-wrap: wrap; width: 100%; gap: 0.5rem" class="p-mt-4">
            <button pButton type="button" class="p-button-info" label="Aplicación Automática"></button>
            <button pButton type="button" class="p-button-success"   icon="pi pi-check" label="Aplicar"></button>
        </div>
        
        
    </div>
</ng-container> 

