<div class="p-col-12 p-mt-3 p-mb-5">
    <p-fieldset legend="Registro mercantil" class="fieldseth1">
        <div class="p-fluid">
            <div class="p-field p-grid">
                <label for="" class="p-col-12 p-lg-2">Registro</label>
                <div class="p-col-12 p-lg-8 p-lg-offset-2">
                    <input id="" type="text" pInputText disabled value="{{_company.record}}">
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="" class="p-col-12 p-lg-4">Número de registro</label>
                <div class="p-col-12 p-lg-8">
                    <input id="" type="text" pInputText disabled value="{{_company.recordNumber}}">
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="" class="p-col-12 p-lg-2">Tomo</label>
                <div class="p-col-12 p-lg-8 p-lg-offset-2">
                    <input id="" type="text" pInputText disabled value="{{_company.volume}}">
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="" class="p-col-12 p-lg-4">Fecha de registro</label>
                <div class="p-col-12 p-lg-8">
                    <input id="" type="text" pInputText disabled value="{{_company.recordDate|date:'dd/MM/yyyy'}}">
                </div>
            </div>
            
        </div>
    </p-fieldset>
</div>
