<p-dialog [(visible)]="showDialog" (onShow)="ngOnInit()" [closable]="false"
    [draggable]="false" [modal]="true" [style]="{width: '90vw'}" [baseZIndex]="10000" [focusOnShow]="true">  
    <ng-template pTemplate="header">
        <div style="display: flex; justify-content: space-between; width: 100%; align-items: center;">
            <h4 style="margin: 0">Nuevo calendario</h4>
            <button class="p-dialog-header-close p-dialog-header-icon p-link ng-star-inserted" (click)=" outForm()">
                <span class="pi pi-times"></span>
            </button>
        </div>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="p-grid p-fluid" style="margin-top: 10px;">
            <div class="p-field p-col-4">
                <label >Tipo de Nómina</label>
                <p-dropdown id="payrollType" (onChange)="loadPeriodicity()" [(ngModel)]="payrollType" name="payrollType" [options]="payrollTypelist" [filter]="true"  placeholder="Seleccionar..." emptyFilterMessage="Sin resultados" emptyMessage="Sin resultados" [disabled]="true"></p-dropdown>
            </div>
            <div class="p-field p-col-4">
                <label for="minmax">Año</label>
                <p-inputNumber [(ngModel)]="year" inputId="anio" mode="decimal" [min]="2000" [max]="2100" [disabled]="true">
                </p-inputNumber>
            </div>
            <div class="p-field p-col-4">
                <label>Período</label>
                <p-inputNumber [(ngModel)]="periodicity" inputId="periodicity" disabled="disabled" mode="decimal">
                </p-inputNumber>
            </div>
        </div>
        
        <div class="p-grid p-align-center p-mt-4 p-pr-0 vertical-container" style="margin-top: 10px;">
            <div class="p-fluid p-col-12 p-mt-2 p-md-3 p-lg-3">
                <label>Fecha de inicio</label>
                <p-calendar #formStarDate [(ngModel)]="startDate" [minDate]="dayB" placeholder="Fecha de Inicio"  
                (onSelect)="setEndDay($event)" yearRange="2010:2030" dateFormat="dd/mm/yy"
                readonlyInput="true" [showIcon]="true"  [monthNavigator]="true" appendTo="body"
                [readonlyInput]="true" showButtonBar="true" [yearNavigator]="true" [baseZIndex]="10000000000">
                </p-calendar>
            </div>       
            <div class="p-fluid p-col-12 p-mt-2 p-md-3 p-lg-3">
                <label>Fecha final</label>
                <p-calendar #formDateEnd [(ngModel)]="endDate" placeholder="Fecha Final" appendTo="body" [baseZIndex]="10000000000" 
                yearRange="1970:2030" dateFormat="dd/mm/yy"
                readonlyInput="true" [showIcon]="true" [monthNavigator]="true"
                [readonlyInput]="true" showButtonBar="true" disabled="disabled" [yearNavigator]="true" >
                </p-calendar>
            </div>
            <div class="p-fluid p-col-12 p-mt-2 p-md-3 p-lg-3" Tooltip="Fecha Pago" tooltipPosition="left">
                <label>Fecha de pago</label>
                <p-calendar #formPaymentDate [(ngModel)]="paymentDate"  placeholder="Fecha Pago" appendTo="body" [baseZIndex]="10000000000" 
                yearRange="1970:2030" dateFormat="dd/mm/yy" [minDate]="dayB" [maxDate]="paymentMaxDate"
                readonlyInput="true" [showIcon]="true" [monthNavigator]="true" (onSelect)="setPaymentDate()"
                [readonlyInput]="true"  showButtonBar="true" [yearNavigator]="true" >
                </p-calendar>
            </div>
            <div class="p-fluid p-col-12 p-mt-2 p-md-3 p-lg-3">
                <label>Día de pago a partir de la fecha de inicio</label>
                <p-inputNumber (onInput)="setPayDate()" disabled="disabled" maxlength="2" [(ngModel)]="payDay" ></p-inputNumber>
            </div>
            <br/>
            <div class="p-col-12 p-md-6 p-lg-4 p-field-checkbox">
                <p-checkbox   [(ngModel)]="checkedAllYear" binary="true" inputId="binary"></p-checkbox>
                <label for="binary">Todo el año</label>
            </div>
        </div>
    <ng-container *ngIf="checkedAllYear"> <!-- If Check of all year is true show this button and table-->
        <div class="p-d-flex p-ai-center p-jc-between p-flex-column p-flex-md-row p-mb-4">
            <button pButton [disabled]="!startDate" type="button" label="Generar Calendario" class="p-button-info p-mt-3"
                (click)="addPeriod()"></button>
        </div>
        <p-table [resizableColumns]="false" styleClass="p-datatable-responsive-demo p-datatable p-component p-datatable-hoverable-rows" 
            #dt [columns]="displayedColumns" [rowHover]="true" [value]="payrollcalendarlist">
            <ng-template pTemplate="header" let-columns>
                <tr>
                <ng-container *ngFor="let col of columns">
                    <th [ngStyle]="{'display': col.display, 'overflow-wrap': 'break-word' }" pResizableColumn [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </ng-container>           
                </tr>
            </ng-template>       
            <ng-template pTemplate="body" let-periods let-columns="columns">
                <tr>
                    <ng-container *ngFor="let col of columns">
                        <td [ngStyle]="{'display': col.display,'overflow-wrap': 'break-word'}" class="ui-resizable-column" >
                        <app-active-label *ngIf="col.field === 'activo'; else textCell" [active]="periods.activo">
                        </app-active-label>
                        <ng-template #textCell>
                            <span>{{col.template(periods)}} </span>
                        </ng-template>
                        </td>
                    </ng-container>          
                </tr>                      
            </ng-template>          
            <ng-template pTemplate="footer" let-columns>
                <ng-container>               
                    <tr *ngIf="periods.length == 0" >
                        <td [ngStyle]="{'text-align': 'center'}" [attr.colspan]="columns.length+1">
                        </td>
                    </tr>
                </ng-container>
            </ng-template>
        </p-table>
    </ng-container>              
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-replay p-ripple" class="p-button-secondary" (click)="clear()"
             styleClass="p-button-text" label="Limpiar">
        </button>
        <button pButton pRipple *ngIf="this.userPermissions.allowed(this.permissionsIDs.MANAGE_PAYROLL_CALENDAR_HCM_PERMISSION_ID)" icon="pi pi-save p-ripple" (click)="save()" [disabled]="periods.length == 0 && checkedAllYear" label="Guardar"
            class="p-button-info">
        </button>
    </ng-template>
</p-dialog>
