:host ::ng-deep { 
    .p-multiselect-token-icon{
        margin-left: 0.1rem;
        margin-right: 0.5rem;
        margin-top: 0.1rem;
    }

    .p-multiselect-token{
        margin-right: 0.5rem;
    }
}