<div class="card">
    <div class="p-d-flex p-ai-center p-jc-between p-flex-column p-flex-md-row">
      <div class="p-text-left p-text-bold p-sm-12 p-md-6 p-lg-3 p-col-12" [class]="showFilters ? 'p-mb-lg-3' : ''">
        <i class="p-text-bold pi pi-book"></i> Movimientos diarios
      </div>  
      <span class="p-input-icon-left p-ml-md-auto p-mr-md-3 p-mb-3"
        [class]="showFilters ? 'p-mb-3' : 'p-mb-md-0 p-mb-lg-0'">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="treeRef.filterGlobal($event.target.value, 'contains')"
          placeholder="Buscar..." />
      </span>
      <div [class]="showFilters ? 'p-mb-3' : ''">
        <button pButton pRipple icon="pi pi-plus" class="p-button-success" (click)="newJournalEntryTransact()" pTooltip="Crear nuevo"
          tooltipPosition="top">
        </button>
        <button pButton pRipple icon="pi pi-filter" class="p-button-help p-ml-2"
          [ngClass]="{'p-button-danger':showFilters}" (click)="showFilters = !showFilters;" pTooltip="Filtros"
          tooltipPosition="top"></button>
      </div>
    </div>
  
    <div [ngStyle]="{'margin-bottom': showFilters ? '-1rem' : '0'}" *ngIf="showFilters">
        <app-journal-entry-transaction-filters [loading]="loading" (onSearch)="search($event, true)"></app-journal-entry-transaction-filters>
    </div>
  </div>
  
  <div class="card">
    <p-table #dt dataKey="id" [value]="transactions" [columns]="cols" [resizableColumns]="false" #treeRef
    styleClass="p-datatable-responsive-demo p-datatable p-component p-datatable-hoverable-rows">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns; let i = index" [ngStyle]="{'display': col.display, 'overflow-wrap': 'break-word','text-align': i == 0 ? 'left' : 'center' }"
          pResizableColumn [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th [ngStyle]="{'text-align': 'center'}">
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-transact let-columns="columns">
        <tr>
          <tr>
           <ng-container *ngFor="let col of columns">
          <td  [ngStyle]="{'display': col.display,'overflow-wrap': 'break-word','text-align': i == 0 ? 'left' : 'center'}" class="ui-resizable-column">
            <app-active-label *ngIf="col.field === 'active'; else textCell" [active]="transact.active">
            </app-active-label>
            <!-- <div
              [class]="col.field === 'status' ? (transact.transactionStatusTypeId==3 || transact.transactionStatusTypeId==4  ? 'status-cancelado status-badge' :  transact.transactionStatusTypeId==1 ?'status-borrador status-badge':'status-contabilizado status-badge'):''">
              <span style="overflow-wrap: break-word;">{{transact[col.field]}}</span>
            </div> -->
            <ng-template #textCell>
              {{col.template(transact)}}
            </ng-template>
          </td>
        </ng-container>
          <td [ngStyle]="{'text-align': 'center'}">
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" pTooltip="Editar"
              (click)="edit(transact)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <ng-container>
          <tr>
            <td [ngStyle]="{'text-align': 'center'}" [attr.colspan]="columns.length+1">
              <p-message severity="info"
                [text]="isFiltered ? 'No existen resultados que coincidan con la búsqueda.' : 'No existen registros.'"
                styleClass="p-col-12 p-mr-2"></p-message>
            </td>
          </tr>
        </ng-container>
      </ng-template>
  
      <ng-template pTemplate="paginatorleft">
      </ng-template>
      <ng-template pTemplate="paginatorright">
      </ng-template>
    </p-table>
    <p-paginator [rows]="elementsPerPage" *ngIf="totalPaginatorElements !== null" [totalRecords]="totalPaginatorElements"
      (onPageChange)="changePage($event)" [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} registros"></p-paginator>
  </div>
  