<div class="p-grid p-align-center p-mt-4 p-p-3 vertical-container" *ngIf="expanded">
    <div class="p-fluid p-col-12 p-md-4 p-lg-4 p-mt-3">
        <div class="p-inputgroup">
            <span class="p-float-label">
                <input id="code" [(ngModel)]="costCenterCodigo" (keyup.enter)="search()" pInputText numbersOnly  maxlength="9" >
                <label for="code">Código</label>
            </span>
        </div>
    </div>
    <div class="p-fluid p-col-12 p-md-4 p-lg-4 p-mt-3">
        <div class="p-inputgroup">
            <span class="p-float-label">
                <input id="name" [(ngModel)]="costCenterName" (keyup.enter)="search()" [pKeyFilter]="noneSpecialCharacters" pInputText   maxlength="35" >
                <label for="name">Centro de costos</label>
            </span>
        </div>
    </div>
    <div class="p-fluid p-col-12 p-md-4 p-lg-4 p-mt-3">
        <span class="p-float-label">
            <p-dropdown [(ngModel)]="costCenterActive" [autoDisplayFirst]="false" (keyup.enter)="search()" [options]="status" [showClear]="true">
            </p-dropdown>
            <label>Estatus</label>
        </span>
    </div>
  
    <div class="p-d-flex p-jc-end p-col-12 p-md-3 p-lg-12" style="width: 100%">
        <button pButton pRipple label="Buscar" [disabled]="loading" (click)="search()" icon="pi pi-search" class="p-button-info p-mr-2"></button>
        <button pButton pRipple label="Limpiar"  (click)="clearFilters()" icon="pi pi-ban" class="p-button-secondary"></button>
    </div>
</div>
