.image-viewer {
    width: 100%;
    max-height: 45px;
}
.box-image{
    height: 45px;
    width: 181px;
    text-align: center; 
    background: slategray;
}

img:-moz-broken{
    opacity: 0;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
  
.box-image img {  
    vertical-align: middle;
}
