




   
           <div class="card" style="align-content: center; padding-bottom: 0.2rem; background-color: ghostwhite; margin-bottom: 0.2rem;">


            <div class="p-grid">
              <div class="p-col-12 p-md-2 p-lg-6"  style="align-content: center; color: #5E81AC;">
                <h2>SCM - Proveedores</h2>

              </div>

              <div class="p-col-12 p-md-7 p-lg-3" style="align-items: inherit;">
                <p-selectButton StyleClass="pruebaestilo" [options]="optionsTime"  [(ngModel)]="value2" optionLabel="title" optionValue="value">
                        
                </p-selectButton>
              </div>
              <div class="p-col-12 p-md-2 p-lg-3" style="text-align: right;">
                <div class="p-field p-grid">
                  <!-- <label for="lastname3" class="p-col-fixed" style="width:200px">Seleccione proveedor</label> -->
                  <div class="p-col">
                    <p-dropdown [options]="Listsuppliers" class="p-field" filterBy="name" [showClear]="false" [(ngModel)]="selectedsupplier" optionValue="code" placeholder="Proveedor" optionLabel="name" ></p-dropdown>
              
                  </div>
              </div>
              </div>
             
             
             
          </div>
            
 
       
</div>
    
    <div class="p-grid">
       
        <div class="p-col-12 p-md-6 p-lg-4">
            
            <app-dashboard-layaout *ngIf="_DashboardData"  [(dashboardData)]="dashboardData" [(titleout)]="titleout1"></app-dashboard-layaout>   
   
        </div>
         
        <div class="p-col-12 p-md-6 p-lg-4">
            <app-dashboard-layaout *ngIf="_DashboardData" [(dashboardData)]="dashboardData2" [(titleout)]="titleout2"></app-dashboard-layaout>   
   
          </div>
        <div class="p-col-12 p-md-6 p-lg-4">
            <app-dashboard-layaout *ngIf="_DashboardData" [(dashboardData)]="dashboardData3" [(titleout)]="titleout3"></app-dashboard-layaout>   
   
         </div>
    
   
        </div>
      
        <!-- <app-modalsupplier-list (onToggle)="onToggleSupplier($event)"  [(supplierinput)]="this.supplierstring"
         [visible]="SupplierDialogVisible" (suppliermodalChange)="OnSupplierslist($event)" [multiple]="false"></app-modalsupplier-list> -->