<div class="layout-sidebar" [ngClass]="{'layout-sidebar-active': app.sidebarActive}" (click)="app.onSidebarClick($event)"
     (mouseover)="app.sidebarActive=true" (mouseleave)="app.sidebarActive=false">
    <div class="sidebar-logo">
        <a href="#" class="sidebar-pin" title="Toggle Menu" (click)="app.onToggleMenuClick($event)">
            <i class="pi pi-lock" *ngIf="app.staticMenuActive"></i>
            <i class="pi pi-lock-open" *ngIf="!app.staticMenuActive"></i>
        </a>
        <a routerLink="/home/dashboard">
            <img alt="logo" src="assets/layout/images/app-mele-gris.png" *ngIf="app.staticMenuActive || (!app.staticMenuActive && app.sidebarActive)"/>
        </a>
    </div>

    <div class="layout-menu-container" (click)="onMenuClick()">
        <ul class="layout-menu">
            <li app-menuitem *ngFor="let item of menu; let i = index;" [item]="item" [index]="item.key" [root]="true"></li>
        </ul>
    </div>
</div>
