<p-dialog (onShow)="onShow()" (onHide)="onHide()" header="Remolques" [(visible)]="visible"  [style]="{width:'25%'}" [modal]="true">
    <div class="p-grid">
        <div class="p-col-12">      
            <div class="p-fluid p-grid p-formgrid">
                <div class="p-field p-col-12 p-md-12 p-sm-12">            
                    <label for="active">Remolque<span [ngStyle]="{'color':'red'}">*</span></label>
                    <p-dropdown [filter]="true" emptyFilterMessage="Sin resultados" emptyMessage="Sin resultados" [options]="trailerList" [(ngModel)]="_vehicle.vehicleTrailerID" [class]="_submitted && _vehicle.vehicleTrailerID <= 0 ? 'ng-dirty ng-invalid' : ''" placeholder="Seleccione..." appendTo="body"></p-dropdown>
                    <small class="p-invalid" *ngIf="_submitted && _vehicle.vehicleTrailerID <= 0">El remolque es requerido</small>
                </div>
                <div class="p-field p-col-12 p-md-12 p-sm-12" pTooltip="Fecha emision"  tooltipPosition="left" life="500" >
                    <label for="cci"> Fecha de asignación <span [ngStyle]="{'color':'red'}">*</span></label>
                    <p-calendar inputId="cci" id="cci" appendTo="body" [(ngModel)]="_vehicle.trailerSetupDate" [yearNavigator]="true" yearRange="1900:2030" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                    <small class="p-invalid" *ngIf="_submitted &&  _vehicle.trailerSetupDate.toString() == 'Mon Jan 01 1900 00:00:00 GMT-0427 (hora de Venezuela)'">La fecha de asigancion es requerida</small>                      
                </div> 
                <div class="p-field p-col-12 p-md-12 p-sm-12">
                    <label for="active">Observaciones</label>
                    <textarea [(ngModel)]="_vehicle.trailerObservation" [rows]="3" [cols]="60" maxlength="500" pInputTextarea></textarea>
                </div>
            </div>
        </div>        
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="submit()" label="Aceptar" styleClass="p-button-info p-mr-2 p-mt-1"></p-button>        
        <p-button icon="pi pi-ban" (click)="visible=false" label="Cancelar" styleClass="p-button-secondary p-mt-1"></p-button>
    </ng-template>
</p-dialog>