<div class="p-grid p-mt-4 p-align-center vertical-container p-p-3" *ngIf="expanded">

    <div class="p-col-12 p-md-4 p-lg-3">
        <div class="p-inputgroup">
            <span class="p-float-label">
                <input [(ngModel)]="filters.name" (keyup.enter)="search()" name="name" id="name" (keypress)="_validations.keyPressOnlyLetters($event);" (paste)="_validations.noPaste($event)" type="text" maxlength="100" pInputText>
                <label>Nombre</label>
            </span>
        </div>
    </div>
    <div class="p-col-12 p-md-4 p-lg-3 p-fluid">
        <p-dropdown emptyFilterMessage="Sin resultados." emptyMessage="Sin resultados." [filter]="true" [options]="_attributetype" (keyup.enter)="search()" appendTo="body" [(ngModel)]="filters.idAttributeType" (onChange)="evalVisileOption()" placeholder="Tipo de atributo">
        </p-dropdown>
    </div>
    <div class="p-col-12 p-md-4 p-lg-3 p-fluid">
        <p-dropdown emptyFilterMessage="Sin resultados." emptyMessage="Sin resultados." [filter]="true" [options]="_attributeagrupation" (onChange)="listatributeoptions()" (keyup.enter)="search()" appendTo="body" [(ngModel)]="filters.idAttributeAgrupation" placeholder="Agrupación de atributo">
        </p-dropdown>
    </div>
    <div class="p-col-12 p-md-4 p-lg-3 p-fluid">
        <p-dropdown emptyFilterMessage="Sin resultados." emptyMessage="Sin resultados." [filter]="true" [options]="_groupingunitmeasure" (keyup.enter)="search()" appendTo="body" [(ngModel)]="filters.idGroupingUnitMeasure" (onChange)="listmeasurementunits()"  placeholder="Agrupación de unidad de medida">
        </p-dropdown>
    </div>
    <div class="p-col-12 p-md-4 p-lg-3 p-fluid">
        <p-dropdown emptyFilterMessage="Sin resultados." emptyMessage="Sin resultados." [filter]="true" (onChange)="listatributeoptions()" [options]="_measurementunit" (keyup.enter)="search()" appendTo="body" [(ngModel)]="filters.idMeasurementUnit" placeholder="Unidad de medida">
        </p-dropdown>
    </div>
    <div *ngIf="_visibleOption || filters.idAttributeType == 1" class="p-col-12 p-md-4 p-lg-3 p-fluid">
        <p-multiSelect emptyFilterMessage="Sin resultados." emptyMessage="Sin resultados." [filter]="true" display="chip" [options]="_attributeoption" (keyup.enter)="search()" appendTo="body" [(ngModel)]="_attributeoptionSelected" placeholder="Opcion atributos">
        </p-multiSelect>
    </div>
    <div class="p-col-12 p-md-4 p-lg-3 p-fluid">
        <p-dropdown [options]="status" (keyup.enter)="search()" appendTo="body" [(ngModel)]="filters.active" placeholder="Estatus">
        </p-dropdown>
    </div>
    <div class="p-col-12 p-md-3 p-lg-12 p-d-flex p-jc-end">
        <button pButton pRipple label="Buscar" [disabled]="loading" (click)="search()" icon="pi pi-search" class="p-button-info p-mr-2"></button>
        <button pButton pRipple label="Limpiar" [disabled]="loading" (click)="clearFilters()" icon="pi pi-ban" class="p-button-secondary"></button>
    </div>
</div>
