<div class="p-grid p-mt-4 p-align-center vertical-container p-p-3" *ngIf="expanded">

    <div class="p-col-12 p-md-4 p-lg-4 p-fluid">
        <div class="p-field">
            <span class="p-float-label">
                <input [(ngModel)]="filters.name" name="name" sentenceType (keyup.enter)="search()" id="name" (keypress)="_validations.keyPressOnlyLetters($event);" (paste)="_validations.noPaste($event)" type="text" maxlength="30" pInputText>
                <label for="float-input">Nombre</label>
            </span>
        </div>        
    </div>
    <div class="p-col-12 p-md-4 p-lg-4 p-fluid">
        <div class="p-field">
            <span class="p-float-label">
                <input [(ngModel)]="filters.abbreviation" (keyup.enter)="search()" onlyUpperCase name="abbreviation" id="abbreviation" (keypress)="_validations.keyPressOnlyLetters($event);" (paste)="_validations.noPaste($event)" type="text" maxlength="3" pInputText>
                <label for="float-input">Abreviatura</label>
            </span>
        </div>        
    </div>
    <div class="p-col-12 p-md-4 p-lg-4 p-fluid">
        <div class="p-field">
            <span class="p-float-label">
                <p-dropdown [options]="status" id="status" appendTo="body" [(ngModel)]="filters.active" [showClear]="false" (keyup.enter)="search()"
                ></p-dropdown>
                <label for="status">Estatus</label>
            </span>
        </div>  
    </div>  
    <div class="p-col-12 p-md-4 p-lg-4 p-fluid">
        <div class="p-field">
            <span class="p-float-label">
                <p-dropdown [options]="rateType.value" id="rateType" appendTo="body" optionLabel="name"  
                [(ngModel)]="idRateType" [showClear]="true" [autoDisplayFirst]="false"
                (onChange)="onRateTypeSelected($event.value)" (keyup.enter)="search()"
                ></p-dropdown>
                <label for="rateType">Tipo de tasa</label>

            </span>
        </div>   
    </div> 

    <div class="p-col-12 p-md-4 p-lg-4 p-fluid">
        <div class="p-field">
            <span class="p-float-label">
                <p-dropdown [options]="tax.value" id="tax" appendTo="body" optionLabel="name"  
                [(ngModel)]="idTax" [showClear]="true" [autoDisplayFirst]="false"
                (onChange)="onTaxSelected($event.value)" (keyup.enter)="search()"
                ></p-dropdown>
                <label for="tax">Impuesto</label>

            </span>
        </div>   
    </div> 

    <div class="p-col-12 p-md-3 p-lg-12 p-d-flex p-jc-end">
        <button pButton pRipple label="Buscar" [disabled]="loading" (click)="search()" icon="pi pi-search" class="p-button-info p-mr-2"></button>
        <button pButton pRipple label="Limpiar" [disabled]="loading" (click)="clearFilters()" icon="pi pi-ban" class="p-button-secondary"></button>
    </div>
</div>
