:host ::ng-deep { 
    .panelheader{
        width: 100%; 
        text-align: center; 
        font-weight: bold;
    }

    .p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
        display: none;
    }
}