<p-panel>
    <ng-template pTemplate="header">
        <span class="panelheader">Control de calidad</span>
    </ng-template>
<div class="card p-m-0 p-pb-0">
    <div class="p-d-flex p-ai-center p-jc-between p-flex-column p-flex-md-row">
        <!-- <h5 class="p-mb-3 p-mb-md-0 p-mb-lg-0">Mermas</h5> -->
        <span class="p-input-icon-left p-ml-md-auto p-mr-md-3 p-mb-3 p-mb-md-0 p-mb-lg-0">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
        </span>
        <div>
           
            <button  pButton pRipple icon="pi pi-plus" class="p-button-success"  *ngIf="this.userPermissions.allowed(this.permissionsIDs.MANAGE_QUALITY_CONTROL_SECTION_PERMISSION_ID)" (click)="productregulationDialog=!productregulationDialog" pTooltip="Crear nuevo"></button>
            <!-- <button pButton pRipple icon="pi pi-filter" class="p-ml-2 p-button-help" [ngClass]="{'p-button-danger':showFilters}" (click)="showFilters=!showFilters" pTooltip="Filtros"></button> -->
        </div>
    </div>


</div>
<div class="card p-m-0">
    <p-table #dt  [rowHover]="true" [value]="_qaproductservice._productregulationList.regulations" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [globalFilterFields]="['name','description','createdByUser','active']" 
    currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-responsive-demo">      
      <ng-template pTemplate="header">
          <tr>
         
            <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon> </th>
            <th pSortableColumn="description">Descripción <p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="createdByUser">Asociado  <p-sortIcon field="createdByUser"></p-sortIcon> </th>
           <!--  <th pSortableColumn="active">Estatus  <p-sortIcon field="active"></p-sortIcon> </th> -->
            <th></th>
          </tr>
      </ng-template>
     
      <ng-template pTemplate="body" let-regulation>
        <tr>
            
           
            <td>{{regulation.name}}</td>
            <td>{{regulation.description}}</td>
            <td>{{regulation.createdByUser}}</td>
            <!-- <td><app-active-label [active]="regulation.active"></app-active-label></td> -->
          <!-- <td><i [class]="regulation.active == true ? 'pi   pi-check' : 'pi pi-times'"></i></td> -->
            <td>
              
                <button *ngIf="regulation.idProductRegulation > 0 && this.userPermissions.allowed(this.permissionsIDs.MANAGE_QUALITY_CONTROL_SECTION_PERMISSION_ID)" pButton pRipple [icon]="'pi pi-trash'" class="p-button-rounded p-button-danger p-mr-2" (click)="deleteRegulation(regulation.idProductRegulation)" [pTooltip]="'Eliminar'"></button>
               
            </td>
            
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td [ngStyle]="{'text-align': 'center'}" colspan="4"><span style="font-weight: 500;">No existen resultados.</span></td>
        </tr>
    </ng-template>
      
      <ng-template pTemplate="paginatorleft">
            </ng-template>
            <ng-template pTemplate="paginatorright">
            </ng-template>
    </p-table>
</div>
<div class="p-grid">
    <div class="p-col-12 p-md-12 p-lg-12" style="text-align: center;">
        <button pButton pRipple label="Regresar" (click)="back()" icon="pi pi-arrow-left" class="p-button-secondary"></button>
    </div>
</div>
<qa-regulation [(showDialog)]="productregulationDialog" [(idproduct)]="idproduct" ></qa-regulation>
<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
