<div class="p-grid p-mt-4 p-align-center vertical-container p-p-3" *ngIf="expanded">
    <div class="p-col-12 p-md-4 p-lg-3">
        <div class="p-inputgroup">
            <span class="p-float-label">
                <input  [(ngModel)]="filters.name" name="Nombre" id="Name" type="text" pInputText noneSpecialCharacters maxlength="50" (keyup.enter)="search()">
                <label>Área</label>
            </span>
        </div>
    </div>
    <div class="p-col-12 p-md-4 p-lg-3">
        <div class="p-inputgroup">
            <span class="p-float-label">
                <input id="float-input" [(ngModel)]="filters.abbreviation" type="text" pInputText noneSpecialCharacters maxlength="3" (keyup.enter)="search()">
                <label for="float-input">Abreviatura</label>
            </span>
        </div>
    </div>
    <div class="p-col-12 p-md-4 p-lg-3 p-fluid">
        <p-dropdown  [options]="BranchOfficeList" [(ngModel)]="filters.idBranchOffice" placeholder="Sucursal" (keyup.enter)="search()"></p-dropdown>
    </div>
    <div class="p-col-12 p-md-4 p-lg-3 p-fluid">
        <p-dropdown  [options]="AreaTypeList" [(ngModel)]="filters.idAreaType" placeholder="Tipo de área" (keyup.enter)="search()"></p-dropdown>
    </div>
            <div class="p-col-12 p-md-4 p-lg-3 p-fluid">
                <p-dropdown name="cboactive"  [options]="statuslist" [(ngModel)]="filters.active" placeholder="Estatus" (keyup.enter)="search()"></p-dropdown>
            </div>
   
    <div class="p-col-12 p-md-3 p-lg-8 p-lg-12 p-d-flex p-jc-end">
        <button pButton pRipple label="Buscar" [disabled]="loading" (click)="search()" icon="pi pi-search" class="p-button-info p-mr-2"></button>
        <button pButton pRipple label="Limpiar" [disabled]="loading" (click)="clearFilters()" icon="pi pi-ban" class="p-button-secondary"></button>
    </div>
</div>
