
    <div class="card" style="align-content: center; padding-bottom: 0.2rem; background-color: ghostwhite; margin-bottom: 0.2rem;">
      <div class="p-grid">
          <div class="p-col-12 p-md-5 p-lg-6" style="align-content: center; color: #5E81AC;">
            <span>     
                <h2 class="p-field title">Dashboard General </h2>        
              
            </span>
          </div>
         <!--  <div class="p-col-12 p-md-7 p-lg-3" style="align-content:center;">
            <p-selectButton StyleClass="pruebaestilo" [options]="optionsTime"  [(ngModel)]="value2" optionLabel="title" optionValue="value">
                    
            </p-selectButton>
          </div> -->
          <div class="p-col-12 p-md-7 p-lg-3" style="align-content:center;">

            <!-- <div class="p-field p-grid">

                <p-selectButton [options]="optionsTime" multiple="multiple" [(ngModel)]="value2" optionLabel="label" optionValue="value">
                    
                </p-selectButton>
            </div> -->


            <div class="p-field p-grid">
            
              <div class="p-col-12">
                  <label>Sucursal: </label>
                <p-dropdown [options]="branchOfficeList"   [(ngModel)]="selection"  appendTo="body" placeholder="Seleccione una sucursal" [filter]="true"  emptyFilterMessage="Sin resultados." emptyMessage="Sin resultados.">
                </p-dropdown>
              </div>
          </div>
          </div>
      </div>
</div>


<div class="p-grid">
    <div class="p-col-12 p-md-6 p-lg-12">
        
        <app-dashboard-layaout *ngIf="_dataCategoryUnitReceivedVsSalesMPC && _typerol==1"   [(dashboardData)]="dashboardDataSales" [(minHeight)]="minHeight"  [(titleout)]="titleout0"></app-dashboard-layaout> 
    </div>
</div>
<div class="p-grid">
   
   <!--  <div class="p-col-12 p-md-6 p-lg-4">
        
        <app-dashboard-layaout *ngIf="_dataCategoryUnitSalesVsPurchased" [(dashboardData)]="dashboardDataSRM" [(titleout)]="titleout1"></app-dashboard-layaout> 
    </div> -->
    <div class="p-col-12 p-md-6 p-lg-4">
        <!-- <app-dashboard-layaout *ngIf="_dataCategoryUnitSalesVsPurchased" [(dashboardData)]="dashboardDataPLM" [(titleout)]="titleout2"></app-dashboard-layaout>
   -->
   <app-dashboard-layaout *ngIf="_dataCategoryUnitReceivedVsSalesMPC" [(dashboardData)]="dashboardDataPLM" [(titleout)]="titleout2"></app-dashboard-layaout>
   
        <!-- <app-dashboard-layaout *ngIf="dashboardDataBDIMS || dashboardDataBDMPC" [(dashboardData)]="dashboardDataPLM" [(titleout)]="titleout2"></app-dashboard-layaout>
     -->
    </div>
    <div class="p-col-12 p-md-6 p-lg-4">
       
        <app-dashboard-layaout *ngIf="_dataCategoryUnitReceivedVsSalesMPC" [(dashboardData)]="dashboardDataIMS" [(titleout)]="titleout3"></app-dashboard-layaout> 
    </div>
</div>


