<div class="login-body" [ngClass]="{'layout-dark': dark, 'layout-light': !dark}">

    <div class="login-content">
    <div class="night-switch">
      <p-button styleClass="dark-switch"  icon="pi pi-circle-on" (click)="dark = true"></p-button>
      <p-button styleClass="light-switch"  icon="pi pi-circle-off" (click)="dark = false"></p-button>
    </div>

    <div class="login-panel">
      <div class="login-panel-content">
        <div class="logo">
            <img src="assets/layout/images/logo-mirage@2x.png" alt="mirage-layout" />
        </div>
        <h1>ERP</h1>
        <p>Por favor, introduzca su nueva contraseña</p>
          <div class="forms">
            <app-change-password></app-change-password>
          </div>
      </div>
    </div>

    <div class="desert"></div>
    </div>
    <p-toast position="top-right"></p-toast>
    </div>
