:host ::ng-deep { 
  
 
    .p-centrar .p-dropdown-panel .p-dropdown-items .p-dropdown-item,.p-dropdown .p-dropdown-label {
        text-align: center!important;
    }
    .p-dialog-content {
        overflow-y: visible;
    }

   
    .p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
        padding: 0rem 0.5rem;
    }

    .p-dialog {
        min-width: 300px;
    }

    .card {
        padding: 0px;
    }

     h5 {
        margin: 1.5rem 0 0rem 0 !important;
}

// [_nghost-ng-cli-universal-c570] h5 {
//     margin: 0 0 0rem 0 !important;
// }

}

