<p-toast position="top-right"></p-toast>

<div class="card p-m-0 p-pb-0">
    <div class="p-d-flex p-ai-center p-jc-between p-flex-column p-flex-md-row">
        <span class="p-input-icon-left p-ml-md-auto p-mr-md-3 p-mb-3 p-mb-md-0 p-mb-lg-0">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                   placeholder="{{'searching' | translate}}"/>
        </span>
        <div>
            <button *ngIf="this.userPermissions.allowed(this.permissionsIDs.ASSIGN_ROLE_PERMISSION_ID)" pButton pRipple
                    icon="pi pi-plus" class="p-button-success" (click)="openNew()" tooltipPosition="top"
                    pTooltip="{{'security_module.user.assign_rol' | translate}}"></button>
        </div>
    </div>
</div>

<div class="p-d-flex p-d-flex p-flex-column p-flex-md-row">
    <div class="p-d-flex-column card">
        <p-table #dt [columns]="displayedColumns" [rowHover]="true" [value]="roleList" [paginator]="true" [rows]="10"
                 [showCurrentPageReport]="true"
                 currentPageReportTemplate="{{ 'primeng.footerDescription' | translate }}"
                 [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-responsive-demo">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="{'display': col.display}">
                        {{col.header | translate}}
                        <p-sortIcon *ngIf="col.field !== 'edit'" [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user let-columns="columns">
                <tr>
                    <ng-container *ngFor="let col of columns">
                        <td [ngStyle]="{'display': col.display }">

                            <span class="p-column-title">{{col.header | translate}}</span>
                            <span>{{user[col.field]}} </span>
                            <ng-container
                                *ngIf="userPermissions.allowed(this.permissionsIDs.UPDATE_ROLE_PERMISSION_ID)">
                                <button *ngIf="col.field === 'edit'" [disabled]="shownEditRole" pButton pRipple
                                        icon="pi pi-pencil"
                                        class="p-button-rounded p-button-success p-mr-2"
                                        (click)="onEdit(user.idRole, user.idType)"
                                        pTooltip="{{'edit' | translate}}" tooltipPosition="top"></button>
                            </ng-container>
                        </td>
                    </ng-container>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
            </ng-template>
            <ng-template pTemplate="paginatorright">
            </ng-template>
        </p-table>
    </div>

    <p-sidebar [(visible)]="shownEditRole" [blockScroll]="true" [showCloseIcon]="false" [dismissible]="false"
               position="right" *ngIf="shownEditRole" styleClass="p-sidebar-md" [style]="{'overflow-y': 'scroll'}">
        <app-user-role [(idRole)]="idRole" [(idRoleType)]="idRoleType" [userRoles]="roleListDetail"
                       [(firstIdRoleType)]="firstIdRoleType" (onHideEditForm)="childCallBack($event)"></app-user-role>
    </p-sidebar>
</div>

