<p-dialog header="Normativas" (onShow)="ngOnInit()" (onHide)="hideDialog()" [(visible)]="showDialog" [modal]="true" [style]="{width: '50vw'}"
[draggable]="false" [resizable]="false" [breakpoints]="{'960px': '75vw', '640px': '100vw'}">

<div class="card p-m-0 p-pb-0">
    <div class="p-d-flex p-ai-center p-jc-between p-flex-column p-flex-md-row">
        <span class="p-input-icon-left p-ml-md-auto p-mr-md-3 p-mb-3 p-mb-md-0 p-mb-lg-0"  >
            <i class="pi pi-search"></i>
            <input pInputText type="text" #dtb (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
        </span>
        
    </div>
</div>
<div class="card p-m-0">
<p-table #dt [value]="_productRegulationList.regulations" [globalFilterFields]="['id','name','description']" [(selection)]="seletctedRegulations" dataKey="id" [paginator]="true" [rows]="5" [responsive]="true">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">Código <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon> </th>
            <th pSortableColumn="description">Descripción <p-sortIcon field="description"></p-sortIcon></th>
            <!-- <th pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus"></p-sortIcon></th> -->
            <th style="width:4em"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-regulation>
        <tr>
            <td>
                <p-tableCheckbox [value]="regulation"></p-tableCheckbox>
            </td>
            <td style="display: none;">{{regulation.idProductRegulation ==0 ? -1: regulation.idProductRegulation}}</td>
            <td>{{regulation.id}}</td>
            <td>{{regulation.name}}</td>
            <td>{{regulation.description}}</td>
            
            <!-- <td><span [class]="'product-badge status-'+product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span></td> -->
            <!-- <td></td> -->
             <td></td> 
        </tr>
        <p>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td [ngStyle]="{'text-align': 'center'}" colspan="4"><span style="font-weight: 500;">No existen resultados.</span></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer" let-columns>
        <ng-container *ngIf="_productRegulationList.regulations==undefined || _productRegulationList.regulations?.length == 0">
        <tr>
          <td [ngStyle]="{'text-align': 'center'}" [attr.colspan]="4">
            <span>No existen normativas disponibles.</span>
          </td>
        </tr>
        </ng-container>
    </ng-template>
</p-table>
</div>
<ng-template pTemplate="footer">
    <button *ngIf="_productRegulationList.regulations != null && _productRegulationList.regulations.length>0" pButton pRipple label="Guardar" [disabled]="saving" (click)="saveProductRegulations()" icon="pi pi-save" class="p-button-info p-mr-2"></button>
</ng-template>
</p-dialog>
