<div class="card p-shadow-3">
    <div class="p-d-flex p-ai-center p-jc-between p-flex-column p-flex-md-row">     
      <div *ngIf="!_showFilters" style="margin-top: 5px;"><h4>Configuración de solicitudes automáticas</h4></div>   
        <span class="p-input-icon-left p-ml-md-auto p-mr-md-3 p-mb-3 p-mb-md-0 p-mb-lg-0">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
        </span>
        <div>          
            <button *ngIf="this._userPermissions.allowed(this._permissionsIDs.UPDATE_REQUEST_SETUP_PERMISSION_ID)"  pButton pRipple icon="pi pi-plus" class="p-button-success" [ngClass]="{'p-button-danger':_showPanel}" (click)="_showPanel=!showPanel" pTooltip="Crear nuevo" tooltipPosition="top"></button>
            <button pButton pRipple icon="pi pi-filter" class="p-ml-2 p-button-help" [ngClass]="{'p-button-danger':_showFilters}" (click)="_showFilters=!_showFilters" pTooltip="Filtros" tooltipPosition="top"></button>
        </div>
    </div>
    <app-master-request-setup-filter  (onSearch)="search()" [(filters)]="_requestSetupFilter" [expanded]="_showFilters"></app-master-request-setup-filter>
</div>
<div class="card p-shadow-3">  
    <p-table #dt [columns]="displayedColumns" [rowHover]="true" [value]="_requestSetupService._requestSetupList" [paginator]="true" [rows]="10"
    [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} registros"
    [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-responsive-demo">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <ng-container *ngFor="let col of columns">  
              <th [ngStyle]="{'display': col.display }" [pSortableColumn]="col.field" >
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </ng-container>
          <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-requestSetup let-columns="columns">
      <tr>
        <ng-container *ngFor="let col of columns">
          <td [ngStyle]="{'display': col.display,'overflow-wrap':'break-word'}">                
                <app-active-label *ngIf="col.field == 'active'; else textCell" [active]="requestSetup[col.field]"></app-active-label>                
                <ng-template #textCell>
                    <span>{{col.template(requestSetup)}} </span>
                </ng-template>
            </td>
        </ng-container>
          <td>                
              <button *ngIf="this._userPermissions.allowed(this._permissionsIDs.UPDATE_REQUEST_SETUP_PERMISSION_ID)"
              pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
              (click)="editRequestSetup(requestSetup)" pTooltip="Editar"></button>
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [ngStyle]="{'text-align': 'center'}" [attr.colspan]="columns.length">No existen resultados</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
          </ng-template>
          <ng-template pTemplate="paginatorright">
          </ng-template>
  </p-table>
</div>
 <app-master-request-setup-panel [(showPanel)]="_showPanel" [requestSetup]="_requestSetup" [(filters)]="_requestSetupFilter" [status]="_status"></app-master-request-setup-panel> 