<!-- <p-toast [key]="'vali'"></p-toast> -->
<div class="card">

    <div class="p-d-flex p-ai-center p-jc-between p-flex-column p-flex-md-row">

        <div class="p-text-left p-text-bold p-sm-12 p-md-6 p-lg-3 p-col-12">
            <i class="p-text-bold pi pi-book"></i> Artículos
        </div>

        <span class="p-input-icon-left p-ml-md-auto p-mr-md-3 p-mb-3 p-mb-md-0 p-mb-lg-0">
            <i class="pi pi-search"></i>
            <input pInputText type="text" [(ngModel)]="quickSearch"
                (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
        </span>
        <div>
            <button pButton pRipple icon="pi pi-plus" class="p-button-success"
                [ngClass]="{'p-button-danger':showDialog}" (click)="new()" pTooltip="Crear nuevo" tooltipPosition="top">
            </button>
            <button pButton pRipple icon="pi pi-filter" class="p-button-help p-ml-2"
                [ngClass]="{'p-button-danger':showFilters}" (click)="showFilters=!showFilters" pTooltip="Filtros"
                tooltipPosition="top"></button>
        </div>
    </div>
    <app-article-filters (onSearch)="search(true)" [costCenters]="costCenters" [classifications]="classifications"
        [types]="types" [rawTaxes]="rawTaxes" [taxPlans]="taxPlans" [(filters)]="articleFilter" [expanded]="showFilters"
        [loading]="loading" class="p-mt-3">
    </app-article-filters>
</div>
<div class="p-m-0 card">
    <p-table [resizableColumns]="false"
        styleClass="p-datatable-responsive-demo p-datatable p-component p-datatable-hoverable-rows" #dt
        [columns]="displayedColumns" [rowHover]="true" [value]="articles">

        <ng-template pTemplate="header" let-columns>
            <tr>
                <ng-container *ngFor="let col of columns">
                    <th [ngStyle]="{'display': col.display, 'overflow-wrap': 'break-word','width': col.field === 'active' ? '110px' : '100%' }"
                        pResizableColumn [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </ng-container>
                <th style="width:60px"></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-article let-columns="columns" let-rowData>
            <tr>

                <ng-container *ngFor="let col of columns">

                    <td [ngStyle]="{'display': col.display,'overflow-wrap': 'break-word'}" class="ui-resizable-column">
                        <app-active-label *ngIf="col.field === 'active'; else textCell" [active]="article.active">
                        </app-active-label>

                        <div *ngIf="col.field === 'taxStr';" style="text-align: left;">
                            <div *ngIf="rowData.taxes.length">

                                <div class="status-badge status-delayed" *ngFor="let tax of rowData.taxes.slice(0, 1)">
                                    {{tax.abreviatura}}
                                </div>
                                <div pTooltip={{isolatedAux(rowData.taxes)}} tooltipPosition="top"
                                    class="status-badge status-delayed" *ngIf="rowData.taxes.length>1">
                                    ...
                                </div>
                            </div>
                        </div>

                        <div *ngIf="col.field === 'costoStr';">
                            <div *ngIf="rowData.cost.length">

                                <div class="costos" *ngFor="let costo of rowData.cost">
                                    <p>{{costo.costo}}</p>
                                    <p>{{costo.costoLetras}}</p>
                                </div>


                            </div>
                        </div>


                        <ng-template #textCell>
                            <span>{{col.template(article)}} </span>
                        </ng-template>
                    </td>
                </ng-container>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                        (click)="edit(article)" pTooltip="Editar"></button>
                </td>
            </tr>

 

        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <ng-container>
                <tr>
                    <td [ngStyle]="{'text-align': 'center'}" [attr.colspan]="columns.length+1">
                        <p-message severity="info" *ngIf="quickSearch || (showFilters && ( articles.length == 0 && (
                           articleFilter.articleName!='' 
                        || articleFilter.articleId > -1  
                        || articleFilter.claseArticuloId >=-1
                        || articleFilter.tipoArticuloId >= -1
                        || articleFilter.centroCostoId >= -1
                        || articleFilter.estatuArticuloId >= -1
                        || articleFilter.planImpuestoId >= -1
                        || articleFilter.articuloImpuestoId >= -1)
                        ))" text="No existen resultados que coincidan con la búsqueda." styleClass="p-col-12 p-mr-2">
                        </p-message>
                        <p-message severity="info" *ngIf="!showFilters && articles.length == 0"
                            text="No existen registros." styleClass="p-col-12 p-mr-2"></p-message>
                    </td>
                </tr>
            </ng-container>
        </ng-template>

    </p-table>
    <p-paginator [rows]="elementsPerPage" *ngIf="totalPaginatorElements !== null" [totalRecords]="totalPaginatorElements" (onPageChange)="changePage($event)" [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} registros"></p-paginator>
</div>
