<div class="p-grid p-mt-4 p-align-center vertical-container p-p-3" *ngIf="_expanded">

    <div class="p-col-12 p-md-4 p-lg-4">
        <div class="p-inputgroup">
            <span class="p-float-label">
                <input [(ngModel)]="_filter.codeRoute" type="text" pInputText maxlength="64" (keyup.enter)="search()">
                <label>Código de ruta</label>
            </span>
        </div>
    </div>

      <div class="p-col-12 p-md-4 p-lg-4 p-fluid">
        <p-dropdown [options]="branchOfficeOriginList" [(ngModel)]="_filter.idBranchOfficeOrigin" placeholder="Sucursal de origen" (keyup.enter)="search()"></p-dropdown>
    </div>
    
    <div class="p-col-12 p-md-4 p-lg-4 p-fluid">
        <p-dropdown [options]="branchOfficeDestinationList" [(ngModel)]="_filter.idBranchOfficeDestination" placeholder="Sucursal de destino" (keyup.enter)="search()"></p-dropdown>
    </div>

    <div class="p-col-12 p-md-4 p-lg-4 p-fluid">
        <p-dropdown [options]="indViaticList" [(ngModel)]="_filter.indViatics" placeholder="Viáticos" (keyup.enter)="search()"></p-dropdown>
    </div>
    
    <div class="p-col-12 p-md-4 p-lg-4 p-fluid">
        <p-dropdown [options]="statusList" [(ngModel)]="_filter.active" placeholder="Estatus" (keyup.enter)="search()"></p-dropdown>
    </div>
    
    <div class="p-col-12 p-md-4 p-lg-8 p-lg-12 p-d-flex p-jc-end" >
        <button pButton pRipple label="Buscar"  (click)="search()" icon="pi pi-search" class="p-button-info p-mr-2"></button>
        <button pButton pRipple label="Limpiar" (click)="clearFilters()" icon="pi pi-ban" class="p-button-secondary"></button>
    </div>
</div>