:host ::ng-deep .p-dropdown {
    width:100%;
}


:host ::ng-deep .mobileOfficeSelector{
    padding: 0 1em;
}

:host ::ng-deep .selectorContainer{
    height: auto !important;
}

@media print {
  .layout-topbar {
    display: none;
  }
}
