<div class="card" style="align-content: center; padding-bottom: 0.2rem; background-color: ghostwhite; margin-bottom: 0.2rem;">
    <div class="p-grid">
        <div class="p-col-12 p-md-5 p-lg-6" style="align-content: center;">
          <span>     
              <h2 class="p-field title">Análisis de sueldos</h2>        
            
          </span>
        </div>
        <div class="p-col-12 p-md-7 p-lg-6" style="text-align: right;">
          <p-selectButton StyleClass="pruebaestilo" [options]="optionsTime"  [(ngModel)]="value1" optionLabel="title" optionValue="value">
                  
          </p-selectButton>
        </div>
    </div>
</div>
<div class="p-grid">
    <div class="p-col-12 p-md-6 p-lg-3">
        <ng-container *ngIf="dashboardDataJobPosition?.length">
            <app-dashboard-layaout [(dashboardData)]="dashboardDataJobPosition" [minHeight]=40 [(titleout)]="titleout5">
            </app-dashboard-layaout>
        </ng-container>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <ng-container *ngIf="dashboardDataHiring?.length">
            <app-dashboard-layaout [(dashboardData)]="dashboardDataHiring" [minHeight]=40 [(titleout)]="titleout2">
            </app-dashboard-layaout>
        </ng-container>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <ng-container *ngIf="dashboardDataEmployee?.length">
            <app-dashboard-layaout [(dashboardData)]="dashboardDataEmployee" [minHeight]=40 [(titleout)]="titleout1">
            </app-dashboard-layaout>
        </ng-container>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <ng-container *ngIf="dashboardDataEmployee?.length">
            <app-dashboard-layaout [(dashboardData)]="dashboardDataEmployee" [minHeight]=40 [(titleout)]="titleout1">
            </app-dashboard-layaout>
        </ng-container>
    </div>
</div>
