
:host ::ng-deep {
    .p-fluid .p-inputtext {
        padding: 6px 0px 0px 0px;
        border: unset;
    }

    .p-col-12.p-md-9.p-lg-9.p-fluid,
    .p-col-12.p-md-3.p-lg-3.p-mt-2.p-fluid {
        padding: 0.1rem 0.5rem;
    }

    #tlf {
        width: 80%;
    }

}

:host ::ng-deep {

    .readOnlyCard .p-card-title {
      color: #5E81AC;
    }

    .readOnlyInfo{
      color: #6c757d;
    }

    .p-panel-title {
      font-size: 1.5rem !important;
      font-weight: 700 !important;
    }

    .p-fluid .p-inputtext {
        padding: 6px 0px 0px 0px;
        border: unset;
    }

    .p-col-12.p-md-3.p-lg-3.p-mt-2,
    .p-col-12.p-md-9.p-lg-9.p-fluid {
        padding: 0.1rem 0.5rem;
    }
    
    p-card {
        padding: 0;
    }
}