<div class="card p-shadow-4">
    <p-card [style]="{ 'margin-bottom': '0.5em'}" styleClass="p-shadow-0" header="Producto">
      <div class="p-grid p-align-center vertical-container p-p-3">
        <div class="p-col-12 p-md-12 p-lg-12">
          <div class="p-grid">
            <div class="p-col-12 p-md-4">
              <div>
                <div class="container-img-viewer" style="margin: auto">
                  <img [src]="product == undefined || product.product.image == null || product.product.image == ''  ? defectImage.defectImage
              : product.product.image" [alt]="product.product.name" width="75" class="p-shadow-4 imgcatalog" />
                </div>
              </div>
            </div>
            <div class="p-col-12 p-md-8">
              <h6 style="margin: 0;">{{product != undefined ? product.product.name : "Producto"}}</h6>
              <h6 style="margin: 0;">{{product != undefined ? product.product.barcode : ""}}</h6>
              <h6 style="margin: 0;">{{product != undefined ? product.product.referent : ""}}</h6>
              <h6 style="margin: 0;">
                {{product != undefined && product.product.category != null ? product.product.category.name : ""}}</h6>
            </div>
            <div class="p-col-12 p-md-12 p-lg-12 p-fluid p-mt-4">
              <label>Cantidad <span [ngStyle]="{'color':'red'}">*</span></label>
              <p-inputNumber [(ngModel)]="quantity"  (keyup.enter)="edit()" *ngIf="productMerchandiseTransfer.packingProduct.product.heavyInd" inputId="minmaxfraction" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2">
              </p-inputNumber>
              <input name="barCode" id="barCode"  (keyup.enter)="edit()" type="number" [(ngModel)]="quantity" pKeyFilter="int" *ngIf="!productMerchandiseTransfer.packingProduct.product.heavyInd"
                pInputText min="0" [max]="productMerchandiseTransfer.amountSent">
              <small class="p-invalid"
                *ngIf="submitted && (productMerchandiseTransfer == undefined || productMerchandiseTransfer.quantityofAggregates <= 0)">La
                cantidad debe ser mayor a 0</small>
                <small class="p-invalid"
                *ngIf="submitted && quantity > (productMerchandiseTransfer.amountSent - (productMerchandiseTransfer.quantityofAggregates == undefined ? 0 : productMerchandiseTransfer.quantityofAggregates))">La
                cantidad debe ser menor o igual a la cantidad por agregar</small>
            </div>
            <div class="p-field p-col-12 p-md-12 p-sm-12">
              <small [ngStyle]="{'color':'red'}">(*) Campos obligatorios</small>
            </div>
            <div class="p-col-12 p-md-12 p-lg-12 p-mt-4" style="text-align: right;">
              <button pButton pRipple label="Guardar" icon="pi pi-save"
                class="p-button-success p-mr-2" (click)="edit()"></button>
            </div>
          </div>
        </div>
      </div>
    </p-card>
  </div>
