table {
    width: 100%;
}

.status-badge {
    border-radius: 2px;
    padding: .25em .5rem; 
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status-active {
        background: #C8E6C9;
        color: #256029;
        font-size: xx-small;
    }

    &.status-inactive {
        background: #FFCDD2;
        color: #C63737;
        font-size: xx-small;
    }
}