

.material-icons.firstPlace{ 
    color: #c8ca66; 
    display: inline-flex !important;
    font-weight: bold;
    vertical-align: middle;
    font-size: 30px;
}
.secondPlace {
    color: #868e96!important;
    vertical-align: middle;
}

.thirdPlace {
    color: #bf9780!important;
    vertical-align: middle;
}

.align-items-right {
    align-items: right !important;
    text-align: right!important;
}
.align-items-rleft {
    align-items: left !important;
    text-align: left!important;
}
.position{
    color: #868e96;
    font-size: 15px;
    font-weight: 500;
    text-align: right;
    vertical-align: middle;
}


.sub-title{
    font-weight: 450;
    font-size: 13px;
    color: #9199a9;
}
.value-font{
    font-weight: 400;
    font-size: 15px;
    color: #9199a9;
}