.status-badge {
    border-radius: 2px;
    padding: .25em .5rem; 
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status-at-time {
        background: #C8E6C9;
        color: #256029;
    }

    &.status-delayed {
        background: #FFCDD2;
        color: #C63737;
    }

    &.status-finished {
        background-color: #b3e5fc;
        color: #23547b;
    }
}
