<p-dialog (onShow)="ngOnInit()" [(visible)]="showDialogWizard" [showHeader]="false" [modal]="true"  [closable]="false" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '80vw'}" 
[draggable]="false" [resizable]="false">
<div class="p-grid header" style="height: 40px;">
    <div class="p-col-11" style="margin-top: 5px;">
        <h5 class="headertext">Agregar Deducibles a productos</h5>
    </div>
    <div class="p-col-1 ">
        <button pButton pRipple type="button" icon="pi pi-times" label="X" class="btnclose p-button-rounded p-button-text p-mr-2 p-mb-2 p-ml-6 p-ripple p-button p-component p-button-icon-only" (click)="Cancel()"></button>
    </div>
</div>
<div class="card">
    <!-- <p-toast></p-toast> -->
    <p-steps [model]="items" [(activeIndex)]="indmenu" [readonly]="true"></p-steps>
</div>

<app-selected-prod *ngIf="indmenu==menuwizardTax.products" [(Products)]="Products" [(selectedProducts)]="selectedProducts"></app-selected-prod>
<app-add-ded *ngIf="indmenu==menuwizardTax.taxables"[(Purchase)]="Purchase" [(_selectesProducts)]="selectedProducts" [(DeductiblesSelected)]="DeductiblesSelected" [(DeductiblesTemp)]="DeductiblesTemp"></app-add-ded>
<app-selection-confirmed *ngIf="indmenu==menuwizardTax.productsxtaxables" [(ProductsApp)]="selectedProducts" [(DeductiblesApp)]="DeductiblesSelected"></app-selection-confirmed>

         <div class="p-col-12 p-md-12 p-lg-12 p-sm-12">
         <div class="p-grid p-nogutter p-justify-between">
            <p-button label="Cancelar" (onClick)="Cancel()" icon="pi pi-ban" class="p-button-secondary p-mr-2"  styleClass="p-button-secondary p-mr-2"></p-button>     
            <div class="groupbtn p-d-flex p-jc-end">  
                <p-button label="Anterior" *ngIf="indmenu==menuwizardTax.taxables || indmenu==menuwizardTax.productsxtaxables" (onClick)="back()" styleClass="p-button-secondary p-mr-2" icon="pi pi-angle-left" class="p-button-secondary p-mr-2" [style]="{'float': 'left'}"></p-button>  
               <p-button label="Siguiente" *ngIf="indmenu==menuwizardTax.taxables || indmenu==menuwizardTax.products" (onClick)="nextPage()" styleClass="p-button-secondary p-mr-2" icon="pi pi-angle-right"  class="p-button-secondary p-mr-2" iconPos="right"></p-button>
               <p-button label="Finalizar" (onClick)="Save()" *ngIf="indmenu==menuwizardTax.productsxtaxables" iconPos="right" icon="pi pi-save" styleClass="p-button-info p-mr-2" class="p-button-info p-mr-2"></p-button>
            </div>  
        </div>  
        </div>  
    <!-- </ng-template> -->
</p-dialog>
