<div class="p-grid p-mt-4 p-align-center vertical-container p-p-3" *ngIf="expanded">
  <div class="p-col-12 p-md-4 p-lg-3">
    <div class="p-inputgroup">
      <span class="p-float-label">
        <input [(ngModel)]="filters.gtin" type="text" pInputText numbersOnly maxlength="20" (keyup.enter)="search()">
        <label>Barra</label>
      </span>
    </div>
  </div>
  <div class="p-col-12 p-md-4 p-lg-3">
    <div class="p-inputgroup">
      <span class="p-float-label">
        <input [(ngModel)]="filters.name" type="text" pInputText noneSpecialCharacters maxlength="50"
          (keyup.enter)="search()">
        <label>Nombre producto</label>
      </span>
    </div>
  </div>
  <div class="p-col-12 p-md-4 p-lg-3">
    <div class="p-inputgroup">
      <span class="p-float-label">
        <input [(ngModel)]="filters.references" type="text" pInputText maxlength="50" (keyup.enter)="search()"
          [pKeyFilter]="valid">
        <label>Referencia interna</label>
      </span>
    </div>
  </div>
  <div class="p-col-12 p-md-4 p-lg-3 p-mt-2">
    <div class="p-inputgroup">
      <span class="p-float-label">
        <input id="float-input" [(ngModel)]="filters.codeBalance" type="text" numbersOnly maxlength="20" pInputText
          (keyup.enter)="search()">
        <label for="float-input">Código balanza</label>
      </span>
    </div>
  </div>
  <div class="p-col-12 p-md-4 p-lg-3 p-mt-2">
    <div class="p-inputgroup">
      <span class="p-float-label">
        <input type="text" pInputText placeholder="Proveedor" [(ngModel)]="filters.supplierstring" (keyup.enter)="search()"
          disabled>
        <p-button icon="pi pi-search" (click)="SupplierDialogVisible=true"></p-button>
      </span>
    </div>
  </div>
  <div class="p-col-12 p-md-4 p-lg-3 p-mt-2">
    <div class="p-inputgroup">
      <span class="p-float-label">
        <input type="text" pInputText placeholder="Marca" [(ngModel)]="BrandsString" (keyup.enter)="search()" disabled>
        <p-button icon="pi pi-search" (click)="BrandDialogVisible=true"></p-button>
      </span>
    </div>
  </div>

  <div class="p-col-12 p-md-4 p-lg-3 p-fluid p-mt-2">
    <p-dropdown [options]="statuslist" [(ngModel)]="filters.idstatus" placeholder="Estatus producto"
      (keyup.enter)="search()"></p-dropdown>
  </div>
  <!-- <div class="p-col-12 p-md-4 p-lg-3 p-fluid p-mt-2">
    <p-dropdown [options]="configurationList" appendTo="body" [(ngModel)]="filters.idconfiguration" placeholder="Pesado"
      (keyup.enter)="search()">
    </p-dropdown>
  </div> -->

  <div class="p-col-12 p-sm-12 p-md-12 p-lg-12 p-d-flex p-jc-end">
    <button pButton pRipple label="Buscar" [disabled]="loading" (click)="search()" icon="pi pi-search"
      class="btn p-button-info p-mr-2"></button>
    <button pButton pRipple label="Limpiar" [disabled]="loading" (click)="clearFilters()" icon="pi pi-ban"
      class="btn p-button-secondary p-mr-2"></button>
  </div>

</div>


<app-brand-modal-list (onToggle)="onToggleBrand($event)" [(BrandsString)]="BrandsString" [(filters)]="filters"
  [visible]="BrandDialogVisible"></app-brand-modal-list>
<app-supplier-modal-list (onToggle)="onToggleSupplier($event)" (supplierinput)="supplierstring" [(filters)]="filters"
  [visible]="SupplierDialogVisible"></app-supplier-modal-list>