<p-sidebar [(visible)]="showDialog" (onShow)="ngOnInit()" (onHide)="hideDialog()" [blockScroll]="false"
  [showCloseIcon]="true" [dismissible]="false" position="right" styleClass="p-sidebar-md" [style]="{'overflow': 'scroll'}">
  <h5 class="p-m-0">Puertos</h5>
  <hr />
  <div class="p-grid">
    <div class="p-col-12">
      <div class="card">
        <div class="p-fluid p-grid p-formgrid">
          <div class="p-field p-col-12 p-md-12 p-sm-12">
            <label for="name">Nombre <span [ngStyle]="{'color':'red'}">*</span></label>
            <input id="float-input" [(ngModel)]="_dataPort.name" lettersOnly type="text" pInputText
              (input)="_validations.toCapitalizeSimbology($event)" required
              maxlength="50" [class]="submitted && (!_dataPort.name || !_dataPort.name.trim()) ? 'ng-dirty ng-invalid' : ''" (keyup.enter)="savePort()" (paste)="_validations.noPaste($event)">
            <small class="p-invalid" *ngIf="submitted && (!_dataPort.name || !_dataPort.name.trim())">El nombre es
              requerido</small>
          </div>

          <div class="p-field p-col-12 p-md-12 p-sm-12">
            <label for="abbreviation">Abreviatura </label>
            <input type="text" pInputText id="abbreviation" noneSpecialCharacters 
              (input)="_validations.toUppercaseString($event)"
              [(ngModel)]="_dataPort.abbreviation" maxlength="3" autofocus (keyup.enter)="savePort()" (paste)="_validations.noPaste($event)"  />
              <small class="p-invalid" *ngIf="(submitted &&( _dataPort.name && _dataPort.name.trim().toLocaleUpperCase() == _dataPort.abbreviation.trim()))||( _dataPort.name && _dataPort.name.trim().toLocaleUpperCase() == _dataPort.abbreviation.trim().toLocaleUpperCase()) ">La abreviatura debe ser diferente al nombre</small>
          </div>
        

          <div class="p-field p-col-12 p-md-12 p-sm-12">
            <label for="active">País <span [ngStyle]="{'color':'red'}">*</span></label>
            <p-dropdown [options]="countriesList" [(ngModel)]="_dataPort.idCountry" placeholder="Seleccione..."
              appendTo="body" (keyup.enter)="savePort()" [class]="submitted && _dataPort.idCountry <= 0 ? 'ng-dirty ng-invalid' : ''" ></p-dropdown>
            <small class="p-invalid" *ngIf="submitted && _dataPort.idCountry <= 0">El país es requerido</small>
          </div>
          <div class="p-field p-col-12 p-md-12 p-sm-12">
            <label for="active">Estatus <span [ngStyle]="{'color':'red'}">*</span></label>
              <p-dropdown name="cboactive" [options]="statuslist" appendTo="body" [(ngModel)]="_dataPort.active" placeholder="Estatus" [disabled]="_dataPort.id<=0" (keyup.enter)="savePort()" ></p-dropdown>
          </div>
          <div class="p-field p-col-12 p-md-12 p-sm-12">
            <span [ngStyle]="{'color':'red'}">(*) Campos obligatorios</span>
          </div>
          <div class="p-field p-col-12 p-md-12">
            <button [disabled]="loading" pButton pRipple label="Guardar" (click)="savePort()" icon="pi pi-save"
              class="p-button-info p-mr-2"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-sidebar>