:host ::ng-deep .chartSize.p-chart{
    .canvas{
        width: 90% !important;
        height: 90%!important;
        margin-top:2%!important;
        margin-left: 5%!important;
    }

}

:host ::ng-deep .dark-card.p-card {
    background-color: #ffffff 4%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff 4%), to(#71B5C8 214%));
    background-image: -webkit-linear-gradient(to bottom, #ffffff 4%, #71B5C8 214%);
    background-image: -moz-linear-gradient(to bottom, #ffffff 4%, #71B5C8 214%);
    background-image: -ms-linear-gradient(to bottom, #ffffff 4%, #71B5C8 214%);
    background-image: -o-linear-gradient(to bottom, #ffffff 4%, #71B5C8 214%);
    background-image: linear-gradient(to bottom, #ffffff 4%, #71B5C8 214%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff 4%", endColorstr="#71B5C8 214%");
    background-color: #ffffff;
    
}
:host ::ng-deep .dark-card2.p-card {
    background-color: #ffffff 4%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff 4%), to(#5ea77c 214%));
    background-image: -webkit-linear-gradient(to bottom, #ffffff 4%, #5ea77c 214%);
    background-image: -moz-linear-gradient(to bottom, #ffffff 4%, #5ea77c 214%);
    background-image: -ms-linear-gradient(to bottom, #ffffff 4%, #5ea77c 214%);
    background-image: -o-linear-gradient(to bottom, #ffffff 4%, #5ea77c 214%);
    background-image: linear-gradient(to bottom, #ffffff 4%, #5ea77c 214%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff 4%", endColorstr="#5ea77c 214%");
    background-color: #ffffff;
    
}
:host ::ng-deep .red-card.p-card {
    background: rgb(55,52,52);
    background: -moz-radial-gradient(circle, rgba(55,52,52,1) 12%, rgba(120,119,115,0.8074580173866421) 57%);
    background: -webkit-radial-gradient(circle, rgba(55,52,52,1) 12%, rgba(120,119,115,0.8074580173866421) 57%);
    background: radial-gradient(circle, rgba(55,52,52,1) 12%, rgba(120,119,115,0.8074580173866421) 57%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#373434",endColorstr="#787773",GradientType=1);
}
:host ::ng-deep .red-card2.p-card {
    background: rgb(238,174,202);
    background: -moz-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(228,233,148,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(228,233,148,1) 100%);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(228,233,148,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#e4e994",GradientType=1);
}
:host ::ng-deep .claroBackground.p-card {
background: rgb(238,174,202);
background: -moz-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
background: -webkit-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#94bbe9",GradientType=1);
}

.fontlegend{
    display: block;
    font-size: 18px;
    font-family: roboto;
    color: #b2b2b3;
    margin: 2%;
  }
  .fontlegendNumber{
    display: block;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma;
    color: #9ce7f1;
    margin: 2%;
  }

  :host ::ng-deep {

    
      
    .p-selectbutton .p-button {

      background: #ffffff;

      border: 1px solid #5E81AC;

      color: #5E81AC;

      transition: background-color 0.15s, border-color 0.15s, box-shadow 0.15s;

  }

   

    .p-selectbutton .p-button.p-highlight {

        background: #5E81AC;

        border-color: #5E81AC;

        color: #ffffff;

    }

    }