<div class="p-grid">
  <div class="p-md-12 p-lg-12">
    <div class="p-grid">
      <div class="p-md-12 p-lg-12">
        <div class="card p-shadow-4" style="margin-bottom: 15px;">
          <p-card styleClass="p-shadow-0" header="Paletizar la transferencia">
            <div class="p-grid p-mt-4 p-align-center vertical-container p-p-3">
              <div class="p-col-12 p-md-4 p-lg-4 p-fluid">
                <label>Número de tranferencia</label>
                <p-dropdown [options]="branchTransferList" appendTo="body" placeholder="Seleccione..." [filter]="true"
                  [(ngModel)]="idBranchTransferSelected" emptyFilterMessage="Sin resultados."
                  emptyMessage="Sin resultados." (onChange)="changeBranchTranfer()" [disabled]="idMerchadiseBranchTransfer > 0">
                </p-dropdown>
              </div>
              <div class="p-col-12 p-md-4 p-lg-4 p-fluid">
                <label>Sucursal origen <span [ngStyle]="{'color':'red'}">*</span></label>
                <p-dropdown [options]="branchOfficeList" appendTo="body" placeholder="Seleccione..." [filter]="true"
                  [(ngModel)]="merchandiseTransfer.originBranch.id" emptyFilterMessage="Sin resultados."
                  emptyMessage="Sin resultados." [disabled]="true">
                </p-dropdown>
              </div>
              <div class="p-col-12 p-md-4 p-lg-4 p-fluid">
                <label>Sucursal destino <span [ngStyle]="{'color':'red'}">*</span></label>
                <p-dropdown [options]="branchOfficeList" appendTo="body" placeholder="Seleccione..." [filter]="true"
                  [(ngModel)]="merchandiseBranchTransfer.destinationBranch.id" emptyFilterMessage="Sin resultados."
                  emptyMessage="Sin resultados." [disabled]="true">
                </p-dropdown>
              </div>
              <!-- <div class="p-col-12 p-md-4 p-lg-4 p-fluid">
            <label>Área destino <span [ngStyle]="{'color':'red'}">*</span></label>
            <p-dropdown [options]="areaList" appendTo="body" placeholder="Seleccione..." [filter]="true"
              [(ngModel)]="merchandiseBranchTransfer.destinityArea.id" emptyFilterMessage="Sin resultados."
              emptyMessage="Sin resultados." [disabled]="true">
            </p-dropdown>
          </div> -->
              <div class="p-col-12 p-md-4 p-lg-4 p-fluid">
                <label for="active"> Tipo de tranferencia <span [ngStyle]="{'color':'red'}">*</span></label>
                <p-dropdown [options]="transferTypeList" [(ngModel)]="merchandiseTransfer.transferType.id"
                  [filter]="true" placeholder="Tipo de transferencia" emptyFilterMessage="Sin resultados."
                  emptyMessage="Sin resultados." [disabled]="true">
                </p-dropdown>
              </div>
              <div class="p-col-12 p-md-12 p-lg-12" style="text-align: right;">
                <button pButton pRipple label="Abrir" icon="pi pi-inbox" class="p-button-success p-mr-2"
                  (click)="openPallette()" *ngIf="showOpenPallete && !merchandiseBranchTransfer.indPalletizing && idMerchadiseBranchTransfer == 0"></button>
                <button pButton pRipple label="Cerrar" icon="pi pi-times" class="p-button-secondary p-mr-2"
                  (click)="closePallette()" *ngIf="showClosePallete && !merchandiseBranchTransfer.indPalletizing && idMerchadiseBranchTransfer == 0"></button>
                <button pButton pRipple label="Finalizar" icon="pi pi-check" class="p-mr-2"
                  (click)="finishPalletizing()" *ngIf="showFinishPallete && !merchandiseBranchTransfer.indPalletizing && idMerchadiseBranchTransfer == 0"></button>
                <button pButton pRipple label="Eliminar" *ngIf="showRemovePallette && !merchandiseBranchTransfer.indPalletizing && idMerchadiseBranchTransfer > 0" icon="pi pi-times" class="p-button-danger p-mr-2"
                  (click)="removePallette()"></button>
                <button pButton pRipple label="Regresar" icon="pi pi-arrow-left" class="p-button-secondary p-mr-2"
                  (click)="back()"></button>
              </div>
            </div>
          </p-card>
        </div>
      </div>
      <div [class]="showPanel ? 'p-md-9 p-lg-9' : 'p-md-12 p-lg-12'">
        <div class="card p-shadow-4">
          <p-card styleClass="p-shadow-0">
            <p-table #dt [columns]="displayedColumns" [value]="this.merchandiseBranchTransfer.branchTransfersDetail"
              [rowHover]="true" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
              currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} registros"
              [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-responsive-demo">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <ng-container *ngFor="let col of columns">
                    <th [ngStyle]="{'display': col.display }" [pSortableColumn]="col.field">
                      <div class="p-d-flex p-jc-between p-ai-center">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                      </div>
                    </th>
                  </ng-container>
                  <th>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-branchTransferDetail let-columns="columns">
                <tr>
                  <ng-container *ngFor="let col of columns">
                    <td [ngStyle]="{'display': col.display,'overflow-wrap': 'break-word' }">
                      <app-active-label *ngIf="col.field === 'active'; else textCell"
                        [active]="branchTransferDetail[col.field]">
                      </app-active-label>
                      <ng-template #textCell>
                        <span>{{col.template(branchTransferDetail)}} </span>
                      </ng-template>
                    </td>
                  </ng-container>
                  <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                      (click)="onEdit(branchTransferDetail)" *ngIf="showClosePallete && (branchTransferDetail.amountSent - (branchTransferDetail.quantityofAggregates == undefined ? 0 : branchTransferDetail.quantityofAggregates)) != 0" pTooltip="Editar"></button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer" let-columns>
                <ng-container
                  *ngIf="this.merchandiseBranchTransfer.branchTransfersDetail==null || this.merchandiseBranchTransfer.branchTransfersDetail?.length == 0">
                  <tr>
                    <td [ngStyle]="{'text-align': 'center'}" [attr.colspan]="8">
                      <span>No existen registros asociados</span>
                    </td>
                  </tr>
                </ng-container>
              </ng-template>
              <ng-template pTemplate="paginatorleft">
              </ng-template>
              <ng-template pTemplate="paginatorright">
              </ng-template>
            </p-table>
          </p-card>
        </div>

        <div class="card p-shadow-4">
          <p-card styleClass="p-shadow-0">
            <p-table #dt [columns]="displayedColumnsPallete" [rowHover]="true" [value]="listPallete"
              dataKey="palletNumber" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
              currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} registros"
              [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-responsive-demo">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th style="width: 50px;"></th>
                  <ng-container *ngFor="let col of columns">
                    <th [ngStyle]="{'display': col.display }" [pSortableColumn]="col.field">
                      <div class="p-d-flex p-jc-between p-ai-center">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                      </div>
                    </th>
                  </ng-container>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-branchTransferPallete let-expanded="expanded">
                <tr>
                  <td>
                    <button type="button" pButton pRipple [pRowToggler]="branchTransferPallete"
                      class="p-button-text p-button-rounded p-button-plain"
                      [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                  </td>
                  <td style="overflow-wrap: break-word"><b>{{branchTransferPallete.palletNumber}}</b></td>
                  <td style="overflow-wrap: break-word">{{branchTransferPallete.tagNumber}}</td>
                  <td style="overflow-wrap: break-word">{{branchTransferPallete.totalAmount}}</td>
                  <td style="overflow-wrap: break-word">{{branchTransferPallete.totalUnits}}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="rowexpansion" let-branchTransferPallete>
                <tr>
                  <td colspan="5" style="padding: 0;">
                    <div>
                      <p-table [columns]="displayedColumnsPalleteDetail" [value]="branchTransferPallete.branchTransferPaletteDetail"
                        dataKey="idBranchTransferTransport">
                        <ng-template pTemplate="header" let-columnsp>
                <tr>
                  <th style="width: 80px;"></th>
                  <ng-container *ngFor="let col of columnsp">
                    <th [ngStyle]="{'display': col.display }" [pSortableColumn]="col.field">
                      <div class="p-d-flex p-jc-between p-ai-center">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                      </div>
                    </th>
                  </ng-container>
                  <th style="width: 150px;"></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-palleteDetail let-columnsp="columns">
                <tr>
                  <td></td>
                  <ng-container *ngFor="let col of columnsp">
                    <td [ngStyle]="{'display': col.display,'overflow-wrap': 'break-word'}">
                      <span>{{col.template(palleteDetail)}} </span>
                    </td>
                  </ng-container>
                  <td style="width: 50px;">
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"
                      (click)="onDeleteAdditionalData(palleteDetail, branchTransferPallete)" pTooltip="Eliminar"
                      tooltipPosition="top" *ngIf="showClosePallete && branchTransferPallete.palletNumber == listPallete[listPallete.length - 1].palletNumber"></button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer" let-columns>
                <ng-container
                  *ngIf="branchTransferPallete.branchTransferPaletteDetail == null || branchTransferPallete.branchTransferPaletteDetail.length == 0">
                  <tr>
                    <td [ngStyle]="{'text-align': 'center'}" [attr.colspan]="7">
                      <span>No hay datos de productos</span>
                    </td>
                  </tr>
                </ng-container>
              </ng-template>
            </p-table>
        </div>
        </td>
        </tr>
        </ng-template>
        </p-table>
        </p-card>
      </div>
    </div>
    <div class="p-md-3 p-lg-3" *ngIf="showPanel">
      <app-palletizing-merchandise-product [(productMerchandiseTransfer)]="productMerchandiseTransfer"
        [(product)]="productSelected" [(showPanel)]="showPanel" [(openPalette)]="openPalette">
      </app-palletizing-merchandise-product>
    </div>
  </div>

</div>
<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
