<div class="layout-wrapper" (click)="onLayoutClick()"
     [ngClass]="{'layout-horizontal': horizontalMenu,
                'layout-wrapper-static': staticMenuActive,
                'layout-rightpanel-active': rightPanelActive,
                'layout-topbar-mobile-active': topbarMobileMenuActive,
                'layout-megamenu-mobile-active': megaMenuMobileActive,
                'layout-sidebar-mobile-active': menuMobileActive,
                'p-input-filled': inputStyle === 'filled',
                'p-ripple-disabled': !ripple}" [class]="menuColor">

    <app-panel-menu [(menu)]="menu"></app-panel-menu>

    <div class="layout-main">
        <p-toast position="top-right"></p-toast>
        <app-panel-topbar [fullName]="fullName" [offices]="userOffices" (officeSelected)="onOfficeSelected($event)"></app-panel-topbar>

        <app-panel-right></app-panel-right>

        <app-breadcrumb></app-breadcrumb>

         <div class="layout-content"> 
            <router-outlet ></router-outlet>
         </div> 

        <app-panel-footer></app-panel-footer>

        <app-panel-config></app-panel-config>

        <div class="layout-main-mask"></div>
    </div>
</div>

<app-loading [initLoading]="false" initMessage="{{ 'wait_load' | translate }}"></app-loading>

