.position-icon-right .ui-button-text {
    padding: 0.4em 2.1em 0.4em 1em;
}

.position-icon-right .ui-button-icon-primary {
    left: auto;
    right: 0.5em;
}

.align-center {
    margin-top: 1rem;
}

.align-right {
    float: right;
}

.view-center {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.display-calendar ::ng-deep {
  .p-overlaypanel {
    background: transparent !important;
    border: transparent !important;
    padding: 0;
  }
  .p-overlaypanel .p-overlaypanel-content {
    padding: 0;
  }
  .p-overlaypanel:before {
    border-width: 0;
    margin-left: 0;
  }
}

h3:first-child {
    margin-top: 1rem;
}

h2:first-letter {
    text-transform:capitalize;
}
