<!-- <div class="card widget-team" style="width:auto; height: 500px; overflow: scroll;">
   
    <ul>
        <li>
            <div class="p-grid member">
                <div class="p-col-7 team-box">
                    <div class="profile-image">
                        <img id="" src="https://gruposigo1.s3.amazonaws.com/empresa0/mpc/productos/imagen/tipos-cambur-propiedades-beneficios_06092021_14:43:19202109061443195363" alt="" />
                    </div>
                    <div>
                        <p-button label="" styleClass="p-button-link"> <h5 class="team-member">Cambur</h5></p-button>
                      
                        <h6 class="team-member">Barra:412500052455258</h6>
                        <span class="team-member-role">Rentabilidad: 40,7777%</span>
                       
                    </div>
                </div>
                <div class="p-col-5 icons">
                    <h5>Rotacion : A</h5>
                    
                    <!-- <div class="icon icon-hastag">
                        <i class="pi pi-bookmark"></i>
                    </div> -->
                  
                    <!-- <div class="icon icon-prime"><img id="j_idt165" src="" alt="" /> -->
               <!--      </div>
               
            </div>
        </li>
       
        <li>
            <div class="p-grid member">
                <div class="p-col-7 team-box">
                    <div class="profile-image">
                        <img id="" src="https://gruposigo1.s3.amazonaws.com/empresa0/mpc/productos/imagen/te-lechuga-propiedades_20082021_16:48:36202108201648366218" alt="" />
                    </div>
                    <div>
                        <p-button label="" styleClass="p-button-link"> <h5 class="team-member">Lechuga romana</h5></p-button>
                       
                        <h6 class="team-member">Barra:412500052455258</h6>
                        <span class="team-member-role">Rentabilidad: 5,7777%</span>
                       
                    </div>
                </div>
                <div class="p-col-5 icons">
                    <h5>Rotacion : A</h5> -->
                    
                    <!-- <div class="icon icon-hastag">
                        <i class="pi pi-bookmark"></i>
                    </div> -->
                  
                    <!-- <div class="icon icon-prime"><img id="j_idt165" src="" alt="" /> -->
             <!--        </div>
               
            </div>
        </li>
        <li>
            <div class="p-grid member">
                <div class="p-col-7 team-box">
                    <div class="profile-image">
                        <img id="" src="https://gruposigo1.s3.amazonaws.com/empresa0/mpc/productos/imagen/aguacate_10092021_12:41:27202109101241275947" alt="" />
                    </div>
                    <div>
                        <p-button label="" styleClass="p-button-link"> <h5 class="team-member">Aguacate injerto</h5></p-button>
                       
                        <h6 class="team-member">Barra:412500052455258</h6>
                        <span class="team-member-role">Rentabilidad:22,4788%</span>
                       
                    </div>
                </div>
                <div class="p-col-5 icons">
                    <h5>Rotacion : A</h5>
                    
                    
                    </div>
               
            </div>
        </li>
        <li>
            <div class="p-grid member">
                <div class="p-col-7 team-box">
                    <div class="profile-image">
                        <img id="" src="https://gruposigo1.s3.amazonaws.com/empresa0/mpc/productos/imagen/brocoli_10092021_12:41:05202109101241060716" alt="" />
                    </div>
                    <div>
                        <p-button label="" styleClass="p-button-link"> <h5 class="team-member">Brocoli</h5></p-button>
                       
                       
                        <h6 class="team-member">Barra:412500052455258</h6>
                        <span class="team-member-role">Rentabilidad: 15,4588%</span>
                       
                    </div>
                </div>
                <div class="p-col-5 icons">
                    <h5>Rotacion : A</h5>
                    
                    
                    </div>
               
            </div>
        </li>
        <li>
            <div class="p-grid member">
                <div class="p-col-7 team-box">
                    <div class="profile-image">
                        <img id="" src="https://gruposigo1.s3.amazonaws.com/empresa0/mpc/productos/imagen/pngwing_10092021_12:36:45202109101236460273" alt="" />
                    </div>
                    <div>
                       
                        
                        <p-button label="" styleClass="p-button-link"> <h5 class="team-member">Cebolla blanca</h5></p-button>
                       
                        <h6 class="team-member">Barra:412500052455258</h6>
                        <span class="team-member-role">Rentabilidad: 40,7777%</span>
                       
                    </div>
                </div>
                <div class="p-col-5 icons">
                    <h5>Rotacion : A</h5> -->
                    
                    <!-- <div class="icon icon-hastag">
                        <i class="pi pi-bookmark"></i>
                    </div> -->
                  
                    <!-- <div class="icon icon-prime"><img id="j_idt165" src="" alt="" /> -->
              <!--       </div>
               
            </div>
        </li>
        <li>
            <div class="p-grid member">
                <div class="p-col-7 team-box">
                    <div class="profile-image">
                        <img id="" src="https://gruposigo1.s3.amazonaws.com/empresa0/mpc/productos/imagen/batata_10092021_12:40:43202109101240436252" alt="" />
                    </div>
                    <div>
                        <p-button label="" styleClass="p-button-link"> <h5 class="team-member">Papa amarilla</h5></p-button>
                        <h6 class="team-member">Barra:412500052455258</h6>
                        <span class="team-member-role">Rentabilidad: 5,1458%</span>
                       
                    </div>
                </div>
                <div class="p-col-5 icons">
                    <h5>Rotacion : B</h5> -->
                    
                    <!-- <div class="icon icon-hastag">
                        <i class="pi pi-bookmark"></i>
                    </div> -->
                  
                    <!-- <div class="icon icon-prime"><img id="j_idt165" src="" alt="" /> -->
                <!--     </div>
               
            </div>
        </li>
    </ul>

</div>  --> 
<div class="card">
  <h5>{{titleGeneral}}</h5>
    <div class="p-grid">
      <div class="p-xs-12 p-sm-12 p-md-12 p-lg-12">
        <div *ngIf="paginator">
          <p-dataView [value]="dataViewModel.dataviewlist" layout="list" [paginator]="true" [rows]=5>
            <ng-template let-dataviewmodel pTemplate="listItem">
              <div class="object-list-item">
                <p-button id="btnImage" styleClass="p-button-img" (onClick)="imgClick(dataViewModel.codModalImg,dataviewmodel)">
                  <img *ngIf="dataviewmodel.image"
                    src="https://ui-avatars.com/api/?name={{dataviewmodel.name + ' ' + dataviewmodel.mainDescription}}&background=17a2b8&color=fff&rounded=true&bold=true&size=200"
                    alt="image-default" />
                </p-button>
                <div class="object-list-detail">
                  <div class="object-name">
                   <!--  <p-button *ngIf="linkview" (onClick)="nameLink(dataViewModel.codModal,dataviewmodel)" styleClass="p-button-link p-button-sm">{{dataviewmodel.name}}</p-button>
                  -->   <h5 *ngIf="!linkview">{{dataviewmodel.name}}</h5>
                    <a *ngIf="linkview" style="text-align: center;margin-bottom:0px;" (onClick)="nameLink(dataViewModel.codModal,dataviewmodel)"> {{dataviewmodel.name}} </a>
                  </div>
                  <div class="object-description">{{dataviewmodel.mainDescription}}</div>
                  <div class="object-description">{{dataviewmodel.secundaryDescription}}</div>
                </div>
                <div class="object-list-action">
                  <span class="object-price" *ngIf="dataviewmodel.mainDescriptionSide=='Creado'" style="background-color:darkseagreen;">${{dataviewmodel.mainDescriptionSide}}</span>
                  <span class="object-price" *ngIf="dataviewmodel.mainDescriptionSide=='Modificado'" style="background-color: darksalmon;">${{dataviewmodel.mainDescriptionSide}}</span>
              
                  <span class="object-description">${{dataviewmodel.secundaryDescriptionSide}}</span>
                </div>
              </div>
            </ng-template>
          </p-dataView>
        </div>
        <div *ngIf="!paginator">
          <p-dataView [value]="dataViewModel.dataviewlist" layout="list">
            <ng-template let-dataviewmodel pTemplate="listItem">
              <div class="object-list-item">
                <!-- <button *ngIf="dataviewmodel.image" id="btnImage" (onClick)="imgClick(dataViewModel.codModalImg,dataviewmodel)" pButton pRipple type="button"
                  class="p-buttonimg">
                  <img *ngIf="dataviewmodel.image" src={{dataviewmodel.imagePath}} alt="image-default" />
                </button> -->
                <p-button *ngIf="dataviewmodel.image" (onClick)="imgClick(dataViewModel.codModalImg,dataviewmodel)" styleClass="p-button-img">
                  <img *ngIf="dataviewmodel.image" src={{dataviewmodel.imagePath}} alt="image-default" />
                </p-button>
              
                <div class="object-list-detail">
                  <div class="object-name">
                    <!-- <p *ngIf="linkview" onclick="">{{dataviewmodel.name}}</p> p-button-rounded p-button-secondary p-button-text-->
                    <p-button *ngIf="linkview" (onClick)="nameLink(dataViewModel.codModal,dataviewmodel)" [label]="dataviewmodel.name" styleClass="p-button-link"></p-button>
                    <h5 *ngIf="!linkview">{{dataviewmodel.name}}</h5>
                  </div>
                  <div class="object-description">{{dataviewmodel.mainDescription}}</div>
                  <div class="object-description">{{dataviewmodel.secundaryDescription}}</div>
                </div>
                <div class="object-list-action">
                  <span class="object-price" *ngIf="dataviewmodel.mainDescriptionSide=='Creado'">
                    <p-tag styleClass="p-mr-2 tagorange"  [rounded]="true" value="">{{dataviewmodel.mainDescriptionSide}}</p-tag></span>
                  <span class="object-price" *ngIf="dataviewmodel.mainDescriptionSide=='Modificado'"> <p-tag styleClass="p-mr-2 tagGreen"   [rounded]="true" value="">{{dataviewmodel.mainDescriptionSide}}</p-tag></span>
                  <span class="object-description">{{dataviewmodel.secundaryDescriptionSide}}</span>
                </div>
              </div>
            </ng-template>
          </p-dataView>
        </div>
      </div>
    </div>
  </div>
