<form [formGroup]="changePasswordForm"
      (ngSubmit)="onSubmit()">
    <label>
        <input type="number" formControlName="idUser" [hidden]="true">
    </label>

    <div class="login-input-wrapper" [hidden]="isRecovery">
        <label for="mainEmail">{{'security_module.user.email' | translate}}</label>
        <input pInputText id="mainEmail" type="email" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
               placeholder="correo@electronico.com" formControlName="mainEmail"/>
        <i class="pi pi-user"></i>
    </div>

    <div class="login-input-wrapper" [hidden]="isRecovery">
        <label for="password">{{'security_module.user.current_password' | translate}}</label>
        <input pInputText id="password" type="password" pPassword [type]="hideOldP ? 'text' : 'password'"
               placeholder="{{'security_module.user.password' | translate}}" formControlName="password"/>
        <i (click)="hideOldP = !hideOldP" [ngClass]="(hideOldP ? 'pi pi-eye' : 'pi pi-eye-slash')"></i>
    </div>

    <div class="login-input-wrapper">
        <label for="newPassword">{{'security_module.user.new_password' | translate}}</label>
        <input pInputText id="newPassword" type="password" pPassword [type]="hideNewP ? 'text' : 'password'"
               placeholder="{{'security_module.user.new_password' | translate}}" formControlName="newPassword"/>
        <i (click)="hideNewP = !hideNewP" [ngClass]="(hideNewP ? 'pi pi-eye' : 'pi pi-eye-slash')"></i>
    </div>

    <div class="login-input-wrapper">
        <label for="verificationPassword">{{'security_module.user.repeat_new_password' | translate}}</label>
        <input pInputText id="verificationPassword" type="password" pPassword
               [type]="hideConfirmP ? 'text' : 'password'" placeholder="{{'security_module.user.new_password' | translate}}"
               formControlName="verificationPassword"/>
        <i (click)="hideConfirmP = !hideConfirmP" [ngClass]="(hideConfirmP ? 'pi pi-eye' : 'pi pi-eye-slash')"></i>
    </div>

    <button pButton type="button" (click)="navigateBack()" label="{{'security_module.user.return' | translate}}" style="margin-right: 8px;"></button>
    <button pButton type="submit" [disabled]="!changePasswordForm.valid" label="{{'save' | translate}}"></button>
</form>
<p-toast position="top-right"></p-toast>
