<p-dialog (onShow)="onShow()" (onHide)="onHide()" header="Recibir paleta" [(visible)]="showDialog" [style]="{width:'50%'}"
  [modal]="true" class="address-dialog" [draggable]="false" [resizable]="false">
  <div class="card p-m-0 p-pb-0">

    <div class="p-grid p-align-center vertical-container p-p-3">
      <div class="p-col-12 p-md-4 p-lg-4 p-fluid">
        <label>Paleta</label>
        <p-dropdown [options]="palletteList" style="width: 100%;"
          emptyFilterMessage="Sin resultados." emptyMessage="Sin resultados." appendTo="body"
          [(ngModel)]="idPalletteSelected" placeholder="Seleccione..."
          (onChange)="changePallette()">
        </p-dropdown>
      </div>
      <div class="p-col-12 p-md-4 p-lg-4 p-fluid">
        <label>Cantidad de productos</label>
        <input [(ngModel)]="palletteSelected.branchTransferPaletteDetail.length" [disabled]="true" type="text" pInputText noneSpecialCharacters
          maxlength="50">
      </div>
      <div class="p-col-12 p-md-4 p-lg-4 p-fluid">
        <label>Cantidad total</label>
        <input [(ngModel)]="palletteSelected.totalAmount" [disabled]="true" type="text" pInputText noneSpecialCharacters
          maxlength="50">
      </div>
      <div class="p-col-12 p-sm-12 p-md-12 p-lg-12 p-jc-end" style="text-align: right;">
        <button pButton pRipple label="Recibir" *ngIf="showReceiveButton" [disabled]="loading" (click)="ReceivePallette()" icon="pi pi-table"
          class="btn p-button-info p-mr-2"></button>
        <button pButton pRipple label="Devolver" *ngIf="showReturnButton" [disabled]="loading" (click)="ReturnPallette()" icon="pi pi-ban"
          class="btn p-button-secondary"></button>
      </div>
    </div>
  </div>
  <div class="card p-m-0">
    <p-table #dtpm [columns]="displayedColumns" [rowHover]="true" [value]="palletteSelected.branchTransferPaletteDetail" dataKey="id"
      [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} registros"
      [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-responsive-demo">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <ng-container *ngFor="let col of columns">
            <th [ngStyle]="{'display': col.display,'overflow-wrap': 'break-word' }" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </ng-container>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-vehicle let-columns="columns">
        <tr>
          <ng-container *ngFor="let col of columns">
            <td [ngStyle]="{'display': col.display ,'overflow-wrap': 'break-word'}">
              <span class="p-column-title">{{col.header}}</span>
              <app-ind-blocked-label *ngIf="col.field === 'indBlocked'; else textCell"
                [indBlocked]="vehicle[col.field]">
              </app-ind-blocked-label>
              <ng-template #textCell>
                <span>{{col.template(vehicle)}} </span>
              </ng-template>
            </td>
          </ng-container>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [ngStyle]="{'text-align': 'center'}" [attr.colspan]="columns.length">No existen resultados</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
      </ng-template>
      <ng-template pTemplate="paginatorright">
      </ng-template>
    </p-table>
  </div>
</p-dialog>
<app-reason-return-pallette [(showDialog)]="showDialogReasonReturn" [(idPalletteSelected)]="idPalletteSelected"
(refreshPallettes)="refreshPallettes()"></app-reason-return-pallette>