
<h2 class="p-m-0">{{formTitle}}</h2>
<hr/>

<div class="p-grid">
    <div class="p-col-12"> 
        <div class="card">       
            <div class="p-fluid p-grid p-formgrid"  [formGroup]="motivesForm">
                <div class="p-field p-col-12 p-md-12 p-sm-12">                
                    <label for="input">Nombre <span [ngStyle]="{'color':'red'}">*</span></label>
                    <input pInputText #name sentenceType maxlength="30" (keypress)="_validations.keyPressOnlyLetters($event);" (paste)="_validations.noPaste($event)" formControlName="name" required 
                    [ngClass]="{'p-invalid':(motivesForm.controls.name.invalid && (motivesForm.controls.name.dirty || motivesForm.controls.name.touched || submitted))}"/>                     
                    <div *ngIf="motivesForm.controls.name.invalid && (motivesForm.controls.name.dirty || motivesForm.controls.name.touched || submitted)"
                    class="p-invalid">
                        <div *ngIf="motivesForm.controls.name.errors?.required">
                            El nombre es requerido.
                        </div>
                    </div> 
                </div>

                <div class="p-field p-col-12 p-md-12 p-sm-12">
                    <label for="dropdown">Estatus <span [ngStyle]="{'color':'red'}">*</span></label>
                        <p-dropdown [options]="status" appendTo="body" [autoDisplayFirst]="false" [disabled]="!isEdit" formControlName="statusValue"
                        [class]="{'ng-dirty':(motivesForm.controls.statusValue.invalid && (motivesForm.controls.statusValue.dirty || motivesForm.controls.statusValue.touched || submitted))}"  required >                                  
                        </p-dropdown>
                        <div *ngIf="motivesForm.controls.statusValue.invalid && (motivesForm.controls.statusValue.dirty || motivesForm.controls.statusValue.touched || submitted)"
                        class="p-invalid">
                            <div *ngIf="motivesForm.controls.statusValue.errors?.required">
                                El estatus es requerido.
                            </div>
                        </div>  
                </div>    
                <div class="p-field p-col-12 p-md-12 p-sm-12">
                    <label for="dropdown">Sistema <span [ngStyle]="{'color':'red'}">*</span></label>
                    <p-dropdown inputId="system" [autoDisplayFirst]="false" [options]="systems.value" formControlName="idSystem" optionLabel="name"   
                        (onChange)="onSystemSelected($event.value)"
                        [disabled]="isEdit" [showClear]="true"                         
                        [class]="{'ng-dirty':(motivesForm.controls.idSystem.invalid && (motivesForm.controls.idSystem.dirty || motivesForm.controls.idSystem.touched || submitted))}"  required >                                  
                    </p-dropdown>
                    <div *ngIf="motivesForm.controls.idSystem.invalid && (motivesForm.controls.idSystem.dirty || motivesForm.controls.idSystem.touched || submitted)"
                    class="p-invalid">
                        <div *ngIf="motivesForm.controls.idSystem.errors?.required">
                            El sistema es requerido.
                        </div>
                    </div>  
                </div>   

                <div class="p-field p-col-12 p-md-12 p-sm-12">
                    <label for="dropdown">Aplicación <span [ngStyle]="{'color':'red'}">*</span></label>
                    <p-dropdown inputId="app" [autoDisplayFirst]="false" [options]="apps.value" formControlName="idApp" optionLabel="name" 
                        (onChange)="onAppSelected($event.value)"
                        [disabled]="isEdit || !systemSelected" [showClear]="true" 
                        [class]="{'ng-dirty':(motivesForm.controls.idApp.invalid && (motivesForm.controls.idApp.dirty || motivesForm.controls.idApp.touched || submitted))}"  required >                                  
                    </p-dropdown>
                    <div *ngIf="motivesForm.controls.idApp.invalid && (motivesForm.controls.idApp.dirty || motivesForm.controls.idApp.touched || submitted)"
                    class="p-invalid">
                        <div *ngIf="motivesForm.controls.idApp.errors?.required">
                            La aplicación es requerida.
                        </div>
                    </div>  
                </div> 
                <div class="p-field p-col-12 p-md-12 p-sm-12">
                    <label for="module">Módulo <span [ngStyle]="{'color':'red'}">*</span></label>
                    <div class="p-inputgroup">                      
                        <input inputId="module" [value]="modulesTreeSelected ? modulesTreeSelected.label : null" type="text" [readOnly]="true" pInputText required
                        [ngClass]="{'p-invalid':(motivesForm.controls.idModule.invalid && (motivesForm.controls.idModule.dirty || motivesForm.controls.idModule.touched || submitted))}"/>                                             
                        <app-dropdown-tree [treeData]='modulesTree' [(selection)]='modulesTreeSelected' 
                        [formControlName]="'idModule'" [isDisabled]='isDisabled' 
                        (selectionChange)="onModuleSelected($event)"></app-dropdown-tree>
                    </div>  
                    <div *ngIf="motivesForm.controls.idModule.invalid && (motivesForm.controls.idModule.dirty || motivesForm.controls.idModule.touched || submitted)"
                    class="p-invalid">
                        <div *ngIf="motivesForm.controls.idModule.errors?.required">
                            El módulo es requerido.
                        </div>
                    </div>  
                </div>   
                 
                <div class="p-field p-col-12 p-md-12 p-sm-12">
                    <label for="dropdown">Tipo de motivo <span [ngStyle]="{'color':'red'}">*</span></label>
                    <p-dropdown inputId="motiveType" [autoDisplayFirst]="false" [options]="motivesType.value" formControlName="motivesType" optionLabel="name" 
                    [disabled]="isEdit || !moduleSelected" [showClear]="true"
                    [class]="{'ng-dirty':(motivesForm.controls.motivesType.invalid && (motivesForm.controls.motivesType.dirty || motivesForm.controls.motivesType.touched || submitted))}"  required >                                  
                    </p-dropdown>
                    <div *ngIf="motivesForm.controls.motivesType.invalid && (motivesForm.controls.motivesType.dirty || motivesForm.controls.motivesType.touched || submitted)"
                    class="p-invalid">
                        <div *ngIf="motivesForm.controls.motivesType.errors?.required">
                            El tipo de motivo es requerido.
                        </div>
                    </div>  
                </div>   

        </div>
       
        <div class="p-fluid p-grid p-formgrid">
            <div class="p-field p-col-12 p-md-12 p-sm-12">
                <span [ngStyle]="{'color':'red'}">(*) Campos obligatorios</span>
            </div> 
            <div class="p-field p-col-12 p-md-12">
                <button pButton pRipple icon="pi pi-save" class="p-button-info p-mr-2" [disabled]="motivesAdded" (click)="onSave()"label="Guardar"></button>
            </div> 
        </div>

        </div>
    </div>
    <p-toast position="top-right" key="motives-type"></p-toast>
</div>


