<p-sidebar [(visible)]="showDialog" [style]="{'overflow': 'scroll'}" (onShow)="ngOnInit()" (onHide)="hideDialog()" [blockScroll]="false" [showCloseIcon]="true" [dismissible]="false" position="right" styleClass="p-sidebar-md">
  <h5 class="p-m-0">Tipo GTIN</h5>
  <hr />
  <div class="p-grid">
    <div class="p-col-12">
      <div class="card">
        <div class="p-fluid p-grid p-formgrid">
          <div class="p-field p-col-12 p-md-12 p-sm-12">
            <label for="name">Nombre<span [ngStyle]="{'color':'red'}">*</span></label>
            <input (keyup.enter)="saveGtintype()" [class]="submitted && (!_gtintype.name || !_gtintype.name.trim()) ? 'ng-dirty ng-invalid' : ''" type="text" oninput="this.value = this.value.toUpperCase()" pInputText id="name" [(ngModel)]="_gtintype.name" maxlength="80" (paste)="_validations.noPaste($event)" (keypress)="_validations.keyPressForGtin($event);" autofocus />
            <small class="p-invalid" *ngIf="submitted && (!_gtintype.name || !_gtintype.name.trim())">El nombre es requerido</small>
          </div>
          <div class="p-field p-col-12 p-md-12 p-sm-12">
            <label for="abbreviation">Abreviatura </label>
            <input (keyup.enter)="saveGtintype()" [class]="(submitted && (_gtintype.name && _gtintype.name.trim().toLocaleUpperCase() == _gtintype.abbreviation.trim().toLocaleUpperCase())) || (_gtintype.name && _gtintype.name.trim().toLocaleUpperCase() == _gtintype.abbreviation.trim().toLocaleUpperCase()) ? 'ng-dirty ng-invalid' : ''" type="text" pInputText id="abbreviation" oninput="this.value = this.value.toUpperCase().trim()" (keypress)="_validations.keyPressAbbreviation($event);" (paste)="_validations.noPaste($event)" [(ngModel)]="_gtintype.abbreviation" maxlength="3" autofocus />
            <small style="display: block;" class="p-invalid" *ngIf="(submitted && (_gtintype.name && _gtintype.name.trim().toLocaleUpperCase() == _gtintype.abbreviation.trim().toLocaleUpperCase())) || (_gtintype.name && _gtintype.name.trim().toLocaleUpperCase() == _gtintype.abbreviation.trim().toLocaleUpperCase())">La abreviatura debe ser diferente al nombre</small>
          </div>
          <div class="p-field p-col-12 p-md-12 p-sm-12">
            <label for="name">Cantidad de dígitos<span [ngStyle]="{'color':'red'}">*</span></label>
            <input (keyup.enter)="saveGtintype()" [class]="submitted && !_gtintype.digitAmount ? 'ng-dirty ng-invalid' : ''" type="text" (paste)="_validations.noPaste($event)" pInputText id="digitAmount" oninput="this.value.length > 12 ? this.value.substr(0,11) : this.value" [(ngModel)]="_gtintype.digitAmount" min="1" maxlength=12 max="100000000000" (keypress)="_validations.keyPressOnlyNumbers($event);" />
            <small style="display: block;" class="p-invalid" *ngIf="submitted && _gtintype.digitAmount == undefined || _gtintype.digitAmount.toString() == ''">La cantidad de dígitos es requerida</small>
            <small style="display: block;" class="p-invalid" *ngIf="submitted &&  _gtintype.digitAmount.toString() != '' && _gtintype.digitAmount <= 0">La cantidad de dígitos debe ser mayor a 0</small>
          </div>
          <div class="p-field p-col-12 p-md-12 p-sm-12">
            <label for="active">Alfanumérico<span [ngStyle]="{'color':'red'}">*</span></label>
            <p-dropdown (keyup.enter)="saveGtintype()" [options]="alphanumeric" appendTo="body" [(ngModel)]="_gtintype.alphanumeric" placeholder="Seleccione..." (paste)="_validations.noPaste($event)">

            </p-dropdown>
            <small class="p-invalid" *ngIf="submitted && _gtintype.alphanumeric==undefined">Alfanumérico es requerido</small>
          </div>
          <div class="p-field p-col-12 p-md-12 p-sm-12">
            <label for="active">Dígito verificador<span [ngStyle]="{'color':'red'}">*</span></label>
            <p-dropdown [options]="checkDigit" appendTo="body" [(ngModel)]="_gtintype.checkDigit" placeholder="Seleccione..." (paste)="_validations.noPaste($event)">

            </p-dropdown>
            <small class="p-invalid" *ngIf="submitted && _gtintype.checkDigit==undefined">El dígito verificador es requerido</small>
          </div>

          <div class="p-field p-col-12 p-md-12 p-sm-12">
            <label for="tipo">Agrupación<span [ngStyle]="{'color':'red'}">*</span></label>

            <p-dropdown (keyup.enter)="saveGtintype()" [options]="_gtingrouping" appendTo="body" [(ngModel)]="_gtintype.gtinGrouping.id" placeholder="Seleccione...">

            </p-dropdown>
            <small class="p-invalid" *ngIf="submitted && _gtintype.gtinGrouping.id <= 0">La agrupación es requerida</small>
          </div>

          <div class="p-field p-col-12 p-md-12 p-sm-12">
            <label for="active">Estatus</label>
            <p-dropdown (keyup.enter)="saveGtintype()" [options]="status" [disabled]="_gtintype.id <= 0" appendTo="body" [(ngModel)]="_gtintype.active" placeholder="Seleccione...">

            </p-dropdown>
          </div>
          <div class="p-field p-col-12 p-md-12 p-sm-12">
            <span [ngStyle]="{'color':'red'}">(*) Campos obligatorios</span>
          </div>
          <div class="p-field p-col-12 p-md-12">
            <button pButton pRipple label="Guardar" (click)="saveGtintype()" icon="pi pi-save" class="p-button-info p-mr-2"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-sidebar>
