<p-sidebar [(visible)]="showDialog" (onShow)="ngOnInit()" (onHide)="hideDialog()" [blockScroll]="false"
  [showCloseIcon]="true" [dismissible]="false" position="right" styleClass="p-sidebar-md" [style]="{'overflow': 'scroll'}">
  <h5 class="p-m-0">Dispositivo</h5>
  <hr />
  <div class="p-grid">
    <div class="p-col-12">
      <div class="card">
        <div class="p-fluid p-grid p-formgrid">
          <div class="p-field p-col-12 p-md-12 p-sm-12">
            <label for="name">Nombre <span [ngStyle]="{'color':'red'}">*</span></label>
            <input id="float-input" [(ngModel)]="_dataDevice.name" noneSpecialCharacters type="text" pInputText
              (input)="_validations.toCapitalizeSimbology($event)"
              maxlength="50" [class]="submitted && (!_dataDevice.name || !_dataDevice.name.trim()) ? 'ng-dirty ng-invalid' : ''" (keyup.enter)="saveDevice()" (paste)="_validations.noPaste($event)">
            <small class="p-invalid" *ngIf="submitted && (!_dataDevice.name || !_dataDevice.name.trim())">El nombre es
              requerido</small>
          </div>

          <div class="p-field p-col-12 p-md-12 p-sm-12">
            <label for="abbreviation">Abreviatura </label>
            <input type="text" pInputText id="abbreviation" noneSpecialCharacters (input)="_validations.toUppercaseString($event)"
              [(ngModel)]="_dataDevice.abbreviation"  maxlength="3" autofocus (keyup.enter)="saveDevice()" (paste)="_validations.noPaste($event)" />
              <small class="p-invalid" *ngIf="(submitted &&( _dataDevice.name && _dataDevice.name.trim().toLocaleUpperCase() == _dataDevice.abbreviation.trim()))||( _dataDevice.name && _dataDevice.name.trim().toLocaleUpperCase() == _dataDevice.abbreviation.trim().toLocaleUpperCase()) ">La abreviatura debe ser diferente al nombre</small>
          </div>

          <div class="p-field p-col-12 p-md-12 p-sm-12">
            <label for="quantity">Cantidad </label>
            <input type="number" pInputText id="quantity" oninput="this.value = this.value.toUpperCase()"
              [(ngModel)]="_dataDevice.quantity" maxlength="3" autofocus (keyup.enter)="saveDevice()" />
          </div>

          <div class="p-field p-col-12 p-md-12 p-sm-12">
            <label for="active">Marca <span [ngStyle]="{'color':'red'}">*</span></label>
            <p-dropdown [options]="brandsList" [(ngModel)]="_dataDevice.idBrand" placeholder="Seleccione..."
              appendTo="body" (keyup.enter)="saveDevice()" [class]="submitted && _dataDevice.idBrand <= 0 ? 'ng-dirty ng-invalid' : ''" ></p-dropdown>
            <small class="p-invalid" *ngIf="submitted &&  _dataDevice.idBrand <= 0"> La marca es requerida</small>
          </div>

          <div class="p-field p-col-12 p-md-12 p-sm-12">
            <label for="active">Tipo dispositivo <span [ngStyle]="{'color':'red'}">*</span></label>
            <p-dropdown [options]="deviceTypeList" [(ngModel)]="_dataDevice.idDeviceType" placeholder="Seleccione..."
              appendTo="body" (keyup.enter)="saveDevice()" [class]="submitted && _dataDevice.idDeviceType <= 0 ? 'ng-dirty ng-invalid' : ''"></p-dropdown>
            <small class="p-invalid" *ngIf="submitted && _dataDevice.idDeviceType <= 0"> El tipo de dispositivo es requerido</small>
          </div>

          <div class="p-field p-col-12 p-md-12 p-sm-12">
            <label for="active">Estatus <span [ngStyle]="{'color':'red'}">*</span></label>
              <p-dropdown name="cboactive" [options]="statuslist" appendTo="body" [(ngModel)]="_dataDevice.active" placeholder="Estatus" [disabled]="_dataDevice.id<=0" (keyup.enter)="saveDevice()" ></p-dropdown>
          </div>

          <div class="p-field p-col-12 p-md-12 p-sm-12">
            <span [ngStyle]="{'color':'red'}">(*) Campos obligatorios</span>
          </div>
          <div class="p-field p-col-12 p-md-12">
            <button [disabled]="_dataDevice.isdisabled" pButton pRipple label="Guardar" (click)="saveDevice()" icon="pi pi-save"
              class="p-button-info p-mr-2"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-sidebar>
