<div class="p-mb-2 p-ml-3" >
<p-fieldset legend="Datos de contacto" [toggleable]="true">
    <div class="p-d-flex-column">
        <div class="p-d-flex p-jc-between p-mb-2">
            <div  style="font-size: x-large;">Correos</div>
            <!-- <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-outlined" (click)="onEditProfile()"></button> -->
        </div>
        <div class="p-d-flex p-jc-between p-mb-2">
            <div>
                <div class="p-text-light" style="font-size:smaller;">Principal</div>
                <div style="font-size: medium;">{{profile?.mainEmail}}</div>
            </div>
            <div>
                <div class="p-text-light" style="font-size:smaller;">Secundario</div>
                <div style="font-size: medium;">{{profile?.secondaryEmail}}</div>
            </div>
            <div> </div>
        </div>
    <div class="p-d-flex p-jc-between p-mb-2 ">
        <div  style="font-size: x-large; margin-top: 4px;">Teléfonos</div>
    </div>
    
    <div>
        <app-phone-details *ngIf="phones.length !== 0; else emptyPhones" [(phones)]="phones"></app-phone-details>
        <ng-template #emptyPhones>
            <div class="p-text-center" style="font-size:smaller;">No hay teléfonos registrados.</div>
        </ng-template>
    </div>
</div>

<div class="p-as-center p-d-flex p-mb-2" style="font-size: x-large; margin-top: 4px;">Direcciones</div>
        <app-address-details *ngIf="addresses.length !== 0; else emptyAddress" [(addresses)]="addresses"></app-address-details>
    <ng-template #emptyAddress>
        <div class="p-text-center" style="font-size:smaller;">No hay direcciones registradas.</div>
    </ng-template>
</p-fieldset>
</div>