<div class="card">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-6 p-sm-12 p-md-6">
            <div class="card">
                <p-chart type="bar" [data]="dashboardDataEmployeeLevel" [options]="basicOptions"></p-chart>
            </div>
        </div>
        <div class="p-field p-col-6 p-sm-12 p-md-6">
            <div class="card">
                <p-chart type="doughnut" [data]="dashboardDataEmployeeJP" [options]="basicOptions"></p-chart>
            </div>
        </div>
    </div>
</div>